==
<div class="location">
    <ol class="breadcrumb">
        {% for parent in parents if parent.enabled%}
            <li><a href="{{ parent.linkHref }}">{{ parent.title }}</a></li>
        {% endfor %}
        {% if node %}
            <li>
                <a href="{{ current.linkHref }}">{{ current.title }}</a>
            </li>
            <li class="active">{{node.name}}</li>
        {% else %}
            <li class="active">{{current.title}}</li>
        {% endif %}
    </ol>
</div>