description = "共同下拉選單"
==
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav main_nav">
        {% for menu in menus if menu.enabled %}
            {% if menu.childCount>0 %}
            <li class="dropdown">
                <a href="{{menu.linkHref}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" target="{{menu.linkTarget}}">{{menu.title}}</a>
                <ul class="dropdown-menu" role="menu">
                    {% for submenu in menu.children if submenu.enabled%}
                        {% if submenu.childCount>0 %}
                        <li class="dropdown-submenu">
                            <a href="{{submenu.linkHref}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  target="{{submenu.linkTarget}}">{{submenu.title}}<i class="fa fa-angle-right pull-right"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for endmenu in submenu.children if endmenu.enabled%}
                                    <li>
                                        <a href="{{endmenu.linkHref}}" target="{{endmenu.linkTarget}}">{{endmenu.title}}</a>
                                    </li>                                
                                {% endfor %}
                            </ul>
                        </li>                        
                        {% else %}
                        <li>
                            <a href="{{submenu.linkHref}}" target="{{submenu.linkTarget}}">{{submenu.title}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>            
            {% else %}
            <li>
                <a href="{{menu.linkHref}}" target="{{menu.linkTarget}}">{{menu.title}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>