==
<footer>
    <div class="footer">
        <div class="container relative">
            <div class="row">
                <div class="col-md-5">
                    <div class="inline-block">
                        <a href="{{homeMenu.linkHref}}" class="footer_logo">
                            <img src='{{"assets/#{style}/images/footer_logo.png" | theme}}' alt="logo">
                        </a>
                    </div>
                    {% partial 'common_'~locale~'/contact' contact=site.contact_info.0 email=site.contact_email.0 master=site.master%}

                </div>
                <div class="col-md-7">
                    {% partial'common_'~locale~'/departments' %}
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        {% partial 'common_'~locale~'/copyright' %}
    </div>
</footer>