description = "google search (中文)"
==
<form action="http://www.google.com/search" rel="noopener noreferre" target="_blank" id="search" method="get">
    <div class="input-group">
        <input type="hidden" name="sitesearch" value="{{site.unit.domain|page}}">
        <input type="text" id="s" class="form-control" name="q" placeholder="請輸入您欲搜尋的關鍵字" onfocus="if(this.value==this.defaultValue)this.value='';" value="請輸入您欲搜尋的關鍵字" onblur="if(this.value=='')this.value=this.defaultValue;" vinput="">
        <span class="input-group-btn">
            <button class="btn btn-default search_btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
    </div>
</form>