description = "相對選單"
==
<div class="side_menu dp_table_cell enlarge-sm">
    <div class="panel-group" id="side_menu_tab" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="head_01">
                <h4 class="panel-title">
                    <a class="" role="button" data-toggle="collapse" data-parent="#side_menu_tab" href="#item_01" aria-expanded="true" aria-controls="item_01">{{menu.title}}</a>
                    <a href="{{menu.linkHref}}" class="side_title_link"></a>
                </h4>
            </div>
            <div id="item_01" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" aria-labelledby="head_01">
                <div class="panel-body">
                    <ul class="sub_menu">
                        {% for submenu in menu.children if submenu.enabled %}
                            {% if submenu.childrenEnabled %}
                            <li class="has_sub">
                                <a href="{{submenu.linkHref}}" title="{{submenu.title}}" target="{{submenu.linkTarget}}">{{submenu.title}}</a>
                                <ul class="sub_menu2" style="margin-bottom: -135px; position: static; transition: all 0.3s ease-in-out;">
                                    {% for endmenu in submenu.children if endmenu.enabled %}
                                    <li class=""><a href="{{endmenu.linkHref}}" title="{{endmenu.title}}" target="{{endmenu.linkTarget}}">{{endmenu.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>                            
                            {% else %}
                                <li class="{{ submenu.id == current.id ? 'active'}}"><a href="{{submenu.linkHref}}" title="{{submenu.title}}" target="{{submenu.linkTarget}}">{{submenu.title}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>