<p><img src="/storage/app/media/Japanese/japanese department logo/logo-02.jpg" style="height:96px; width:100px" /><strong><span style="font-size:16px"><span style="color:#ff0000">About the Department of Japanese, Tamkang University</span></span></strong></p>

<p>The mission of the Department of Japanese is to offer a variety of flexible courses and programs to meet a variety of social needs and to educate students to be highly qualified citizens with advanced language skills and a global sense.</p>

<p>The Department of Japanese, originally the Department of Eastern Languages, was established in 1966 and has been offering courses on&nbsp;Japanese language, economy, politics, and cultural study of Japan. Due to the rapid increase of students studying Japanese and Japanese culture and society at Tamkang University, the Department started to offer two freshman classes in 1973. In 1985, the Department of Eastern Languages was renamed the Department of Japanese. With a continuous growth of student number, the Department of Japanese presently accepts about 240 undergraduates every year in three day-time classes (about 180 students) and one night-time class (about 60 students). The Department has also been offering the M.A. degree since 2006.</p>

<p>The Department of Japanese was the first department at Tamkang University to set up a one-year study abroad programme with partner universities in Japan. Every year, approximately fifty students participate in the programme and study in Japan for one academic year.</p>

<p>The Department of Japanese has numerous Japanese textbooks, academic journals, audio, and video teaching materials about Japanese and Japanese culture and society. Students and faculty members can watch Japanese live TV programs at any time by a new satellite system. Students can also use&nbsp;web-browsing and Japanese word-processing software any time with computers on the new Japanese operating system.</p>