<p><img src="/storage/app/media/Japanese/japanese department logo/logo-02.jpg" style="height:96px; width:100px" /><span style="color:#ff0000"><span style="font-size:22px"><strong>淡江大学日本語文学科について</strong></span></span></p>

<p><strong><span style="font-size:18px">創</span></strong>立４０年になる淡江大学日本語文学科は、革新と積極性をモットーに常に新しい方向に邁進しております。</p>

<p>特に近年においては、他の大学においても日本語学科の設立がめざましく、新たな挑戦が生まれます。淡江大</p>

<p>学日本語文学科は、教授、教学内容、研究内容等各方面を見直し、すでにあるノウハウの上に新たな世界を拓</p>

<p>くことに努力を続けております。</p>

<p><strong><span style="font-size:18px">品</span></strong>質の高い教育と国際化時代のニーズにあった優秀な日本語の人材を輩出することをめざしています。またこ</p>

<p>のほかにも、本学科は国際学術会議の開催や留学生の派遣等、国際的学術の交流に力を注いでおります。国際</p>

<p>文化の相互理解を深めるとともに、国際的視野を広げ、本学科の学術水準を引き上げ、国際化へ向かって進ん</p>

<p>でまいります。</p>