<h1 style="text-align:center"><span style="color:#ff0000">Junior Year Study Abroad</span></h1>

<p style="text-align:center"><span style="font-size:16px">Application Process</span></p>

<hr />
<p>The application process for the Junior Year Study Abroad Programme of the Department of Japanese are as stipulated below.</p>

<p>&nbsp;</p>

<table border="1" class="oc-alternate-rows oc-dashed-borders" style="border:1px solid #dddddd; padding:8px; width:100%">
	<thead>
		<tr>
			<th colspan="3" style="width:117.036%">
			<div style="text-align: center;">Junior Year Abroad Application Process</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="background-color:#cccccc; width:22.6474%">
			<div style="text-align: center;"><strong>Time</strong></div>
			</td>
			<td style="background-color:#cccccc; width:26.8794%">
			<div style="text-align: center;"><strong>Activity</strong></div>
			</td>
			<td style="background-color:#cccccc; width:50.4597%">
			<div style="text-align: center;"><strong>Note</strong></div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Late February to Early March</div>
			</td>
			<td style="width:26.8794%">
			<div>Seminar for Junior Year Study Abroad Audition</div>
			</td>
			<td style="width:50.4597%">
			<div>Explanation of Junior Year study abroad programme and audition process.<br />
			Previous study-abroad students will be invited to give more information regarding sister universities.</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Early March</div>
			</td>
			<td style="width:26.8794%">
			<div>Audition Application Open</div>
			</td>
			<td style="width:50.4597%">
			<div>Refer to <a href="https://www.tfjx.tku.edu.tw/japanese/web_page/1745">Application Requirements</a> for detailed information.</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Mid-March</div>
			</td>
			<td style="width:26.8794%">
			<div>Audition</div>
			</td>
			<td style="width:50.4597%">
			<div>Refer to <a href="https://www.tfjx.tku.edu.tw/japanese/web_page/1746">Audition Examination</a> for more information.</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Late March</div>
			</td>
			<td style="width:26.8794%">
			<div>University Selection Wishlist Allocation</div>
			</td>
			<td style="width:50.4597%">
			<div>Refer to Wishlist Allocation for more information.</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>April to Late May</div>
			</td>
			<td style="width:26.8794%">
			<div>Submission of Required Documents</div>
			Payment of Associated Fees</td>
			<td style="width:50.4597%">
			<div>Required Documents: Registration form for Certificate of Eligibility, Health Check Form, Bank Statement, Passport and other supporting documents.</div>
			Associated Fees: Administration Fees, Air Tickets, Visa Fee, Insurance Fees, Deposits etc.</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>May to August</div>
			</td>
			<td style="width:26.8794%">
			<div>Pre-departure Preparations</div>
			</td>
			<td style="width:50.4597%">
			<div>Arrangement of Dormitories (in accordance with sister universities&#39; regulations), Submission of Scholarship Applications, Preparation of Study Abroad Visa Documents.</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Mid to Late June</div>
			</td>
			<td style="width:26.8794%">
			<div>Fire Safety Seminar and Flag-giving Ceremony</div>
			</td>
			<td style="width:50.4597%">
			<div><u>Absence without notice will be recorded with a demerit.</u></div>
			</td>
		</tr>
		<tr>
			<td>Late July to Mid-August</td>
			<td>Announcement of Departure Date for Respective Universities and Departing Flight</td>
			<td>Departure time will differ between universities.<br />
			Departure time: In accordance with respective universities&#39; regulations.<br />
			Departure Airport: In accordance with the further notice.<br />
			<u>Departure will be in groups, no individual departures are allowed.</u></td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Early August to Mid-August</div>
			</td>
			<td style="width:26.8794%">
			<div>Departure Permission Registration for Conscripts&nbsp;</div>
			</td>
			<td style="width:50.4597%">
			<div>An official letter will be released by the Department for conscripts for the application for such permission. The official letter will be sent to respective residence address, conscripts may bring along the letter and passport and proceed to their respective district office to obtain departure permission.</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Late August</div>
			</td>
			<td style="width:26.8794%">
			<div>Pre-departure Briefing</div>
			</td>
			<td style="width:50.4597%">
			<div>Pre-departure briefing on things to notice, announcement of gather time, submission of required documents for visa application, previous study-abroad students will be invited to give the latest information regarding respective sister universities.</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Early September to Early October</div>
			</td>
			<td style="width:26.8794%">
			<div>Departure</div>
			</td>
			<td style="width:50.4597%">
			<div><u>The Department will not be able to provide airport pick-up services. Students are to conform to respective universities&#39; gather and registration time after arriving in Japan.</u></div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Early September to Next Late July</div>
			</td>
			<td style="width:26.8794%">
			<div>Study Abroad</div>
			</td>
			<td style="width:50.4597%">
			<div>Students studying abroad are to submit monthly report form, failure of submission will result in the forfeiture of deposit (NT$200 per unsubmitted form).</div>
			</td>
		</tr>
		<tr>
			<td style="width:22.6474%">
			<div>Next Late August</div>
			</td>
			<td style="width:26.8794%">
			<div>Pre-departure Briefing (Next Fiscal Year)</div>
			</td>
			<td style="width:50.4597%">
			<div>Students are to return before the pre-departure briefing for the next fiscal year to share the latest information regarding respective universities. <u>Absence without notice will be recorded with a demerit.</u></div>
			</td>
		</tr>
		<tr>
			<td>Next Late September to Mid-November</td>
			<td>Credit Exemptions</td>
			<td>Refer to Credit Exemptions for more information.<br />
			Report Card from each sister universities arrives at a different time, therefore credit exemptions will be carried out by mid-November. Due to the exemptions being carried out after mid-terms class allocation, classes chosen before credit exemptions cannot be removed and students may not be able to apply for scholarship and other financial support.</td>
		</tr>
		<tr>
			<td>Next September to Early March of next two Fiscal Years</td>
			<td>Submission of Experience Report</td>
			<td>Students are to submit a study abroad experience report, a questionnaire and a daily life matters questionnaire.</td>
		</tr>
		<tr>
			<td>Late February to Early March of Next two Fiscal Year&nbsp;</td>
			<td>Seminar for Junior Year Study Abroad Audition</td>
			<td>Students are to attend the seminar and share information regarding respective universities. <u>Absence without notice will be recorded with a demerit.</u></td>
		</tr>
		<tr>
			<td>April to June of Next two Fiscal Year</td>
			<td>Refund of Deposit</td>
			<td>The Department will refund all remaining deposit via bank transfer after all reports and questionnaire are submitted.<br />
			(NT$200 will be forfeited from the deposit for each unsubmitted report as well as each seminar and briefing.)</td>
		</tr>
	</tbody>
</table>

<p><span style="color:#ff0000"><strong>Students are encouraged to reconsider their application should they will not be able to act in concert with the above process.</strong></span></p>