<p><img src="/storage/app/media/Japanese/japanese department logo/cropped-images/logo-01-273-711-2111-2029-1520776738.jpg" style="height:192px; width:200px" /><span style="color:#d14841"><strong><span style="font-size:30px">本系沿革</span></strong>&nbsp;</span></p>

<table align="center" border="1" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>
			<p><span style="font-size:20px">年代&nbsp;</span></p>
			</th>
			<th>
			<p><span style="font-size:20px">概況</span></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國55年(1966年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">成立東方語文學系</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國62年(1973年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">學生人數增為兩班</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國74年(1985年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">更名為日本語文學系</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國80年(1991年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">學生人數增為日間部兩班、夜間部兩班</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國86年(1997年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">配合教育部夜間部轉型政策停招夜間部，日間部增為四班</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國90年(2001年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">增設進修教育學士班一班，日間部減為三班</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國95年(2006年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">成立日文系碩士班</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國96年(2007年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">與技術學院應用日文系合併，二年制在職專班改隸日文系</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國97年(2008年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">進修教育學士班增為二班</span></p>

			<p><span style="font-size:18px">自97學年度起大學日間部入學新生須通過「日本語能力試驗（JLPT）N1」始授與學士學位。</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國100年(2011年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">進修教育學士班改為招收一班，仍維持申請入學及考試入學兩種管道。</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p style="text-align: center;"><span style="font-size:18px">民國100年(2011年)</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">成立日本語文學系碩士在職專班</span></p>
			</td>
		</tr>
	</tbody>
</table>