<p>(A)舉辦AI工作坊</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:226px">
			<p style="text-align: center;">活動名稱</p>
			</td>
			<td style="width:133px">
			<p style="text-align: center;">主講人</p>
			</td>
			<td style="width:97px">
			<p style="text-align: center;">時間</p>
			</td>
			<td style="width:97px">
			<p style="text-align: center;">地點</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「AI程式運用」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2019.2.15</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「AI人工智慧輔助外語創新教學：網頁撈取、句向量、預載詞向量、3D向量投影」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2019.5.24</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「大數據語料處理」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2019.10.4</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「LDA文件分析技術」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2019.11.29</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「運用AI技術進行文本探勘：研究與實踐」工作坊</p>
			</td>
			<td style="width:133px">
			<p>孫昊助教</p>
			</td>
			<td style="width:97px">
			<p>2019.11.29</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「開放原始碼文本定量分析工具KH Coder之介紹」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2020.6.12</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「實踐！使用AllenNLP之深度學習應用」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2020.11.20</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「AI寫小說&mdash;理論篇」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2021.10.29</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:226px">
			<p>「AI寫小說&mdash;實踐篇」工作坊</p>
			</td>
			<td style="width:133px">
			<p>魏世杰副教授</p>
			</td>
			<td style="width:97px">
			<p>2021.12.3</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>(B)AI論壇</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:359px">
			<p style="text-align: center;">活動名稱</p>
			</td>
			<td style="width:97px">
			<p style="text-align: center;">時間</p>
			</td>
			<td style="width:97px">
			<p style="text-align: center;">地點</p>
			</td>
		</tr>
		<tr>
			<td style="width:359px">
			<p>AI論壇「AI技術的應用改變了本身研究的樣貌」</p>
			</td>
			<td style="width:97px">
			<p>2020.6.12</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:359px">
			<p>AI論壇「AI與外語學習(研究)發想發表」</p>
			</td>
			<td style="width:97px">
			<p>2020.11.20</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:359px">
			<p>AI論壇「精進AI這一條路上，我不寂寞」</p>
			</td>
			<td style="width:97px">
			<p>2021.12.3</p>
			</td>
			<td style="width:97px">
			<p>淡江大學</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>(C)主辦AI國際學術研討會</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:293px">
			<p style="text-align: center;">活動名稱</p>
			</td>
			<td style="width:87px">
			<p style="text-align: center;">時間</p>
			</td>
			<td style="width:85px">
			<p style="text-align: center;">地點</p>
			</td>
			<td style="width:385px">
			<p style="text-align: center;">備註</p>
			</td>
		</tr>
		<tr>
			<td style="width:293px">
			<p>「2019年AIと日本語教育国際シンポジウムーAIと日本語教育ー」</p>
			</td>
			<td style="width:87px">
			<p>2019.3.9</p>
			</td>
			<td style="width:85px">
			<p>淡江大學</p>
			</td>
			<td style="width:385px">
			<p>因應會議順利進行而編輯了會議論文集『AIと日本語教育国際シンポジウム』(曾秋桂編集、ISBN：978-957-8736-21-4)收錄了2篇邀請講演、14篇口頭發表論文、7篇圓桌論壇發言。</p>
			</td>
		</tr>
		<tr>
			<td style="width:293px">
			<p>「2019年度台湾日本語教育研究国際シンポジウムーAIと日本語教育との対話ー」</p>
			</td>
			<td style="width:87px">
			<p>2019.11.30</p>
			</td>
			<td style="width:85px">
			<p>淡江大學</p>
			</td>
			<td style="width:385px">
			<p>因應會議順利進行而編輯了會議論文集『AIと日本語教育国際シンポジウム』(曾秋桂編集、ISBN：978-957-8736-41-2)收錄了2篇邀請講演、14篇口頭發表論文、9篇圓桌論壇發言。</p>
			</td>
		</tr>
		<tr>
			<td style="width:293px">
			<p>「2020年AIと日本語教育国際シンポジウムーAIと日本語教育との協働ー」</p>
			</td>
			<td style="width:87px">
			<p>2020.6.20</p>
			</td>
			<td style="width:85px">
			<p>淡江大學</p>
			</td>
			<td style="width:385px">
			<p>因應會議順利進行而編輯了會議論文集『AIと日本語教育国際シンポジウム』&nbsp;&nbsp; (曾秋桂編集、ISBN：978-957-8736-69-6)收錄了2篇邀請講演、1篇招待發表、10篇口&nbsp; 頭發表論文、10篇圓桌論壇發言。</p>
			</td>
		</tr>
		<tr>
			<td style="width:293px">
			<p>「2021年クリエイティブラーニングを目指すAIと日本語教育国際シンポジウムー」</p>
			</td>
			<td style="width:87px">
			<p>2021.4.10</p>
			</td>
			<td style="width:85px">
			<p>淡江大學</p>
			</td>
			<td style="width:385px">
			<p>因應會議順利進行而編輯了會議論文集『AIと日本語教育国際シンポジウム』(曾秋桂編集、ISBN：978-957-8736-84-9)收錄了1篇邀請講演、1篇招待演講、14篇口頭發表論文、6篇圓桌論壇發言。</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>