<p><strong><span style="font-size:20px"><span style="color:#ff0000">・図書・機器設備</span></span></strong></p>

<p><span style="font-size:14px">１．本学科では、外国語教育の中でも最新の視聴覚設備・録音機器・スライド・録画機器の貸し出しをしており、学生は自由に練習することができます。また、図書・地図等の貸し出し・閲覧も可能です。</span></p>

<p><span style="font-size:14px">２．日本語文学科専用の「会話マルチメディア教室」が２部屋あります。マルチメディア教育を利用し、教学効果及び学生の興味を高め、日本語教育の質の向上を図ります。</span></p>

<p><span style="font-size:14px">３．本校のパソコンには日本語の設備が整っており、学生は日本語の文書やレポート等の練習に使用することができます。</span></p>

<p><span style="font-size:14px">４．学生が余暇を利用して行う日本語学・文学・日本研究等の学術・文芸活動においても、本学科の教員が指導を行っています。</span></p>

<p><span style="font-size:14px">５．本校の図書館は多くの蔵書があります。閲覧環境もよく、電子図書館による検索も可能です。また、１９８１年から１９８４年まで本校において教鞭をとっておられた古俣祐介教授が１９９３年１１月に本校での講演のため来台中に肺炎で亡くなられました。後に古俣教授夫人により日本近代文学関係の蔵書約７千冊を寄付をいただき、２００５年には「古俣文庫」を設立致しました。</span></p>

<p><span style="font-size:14px">６．会話専用教室２部屋： CDプレーヤー、LDプレーヤー、コンピューター設備；学生指導教室：衛星対応DVDプレーヤー；学科事務室：映写機、ノートパソコン、テレビ、衛星放送、ビデオ・ DVDプレーヤー、CDプレーヤー等。</span></p>

<p><span style="font-size:14px">７．２０００年度より「日本語文学科奨学金」制度を設置、本学科の優秀な学生を支援しています。</span></p>

<p><span style="color:#ffa07a"><strong><span style="font-size:20px">・奨学金</span></strong></span></p>

<p><span style="font-size:14px">（１）一般奨学金</span></p>

<p><span style="font-size:14px">　学内奨学金・学業奨学金・驚聲奨学金等の各奨学金、台北市日本工商会、大船企業株式会社への申請以外に、本学科では「日本語文学科奨学金」、「黄憲堂先生記念奨学金」、「趙台健氏卒業生奨学金」、「陳育徳氏卒業生奨学金」、「董振瑞女士育英奨学金」を設けております。</span></p>

<p><span style="font-size:14px">（２）留学奨学金</span></p>

<p><span style="font-size:14px">　本校国際事務所又は日本交流協会の留学生奨学金以外にも、本学科３年時には、日本国際教育協会の短期留学生奨学金への申請が可能です。</span></p>