<p style="text-align: center;"><span style="color:#ff0000"><span style="font-size:24px">History</span></span></p>

<p style="text-align: center;"><span style="font-size:16px"><span style="color:#ffa07a"><strong>History of the Development of the Department</strong></span></span></p>

<hr />
<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="line-height:normal">
	<tbody>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">1966</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">The Department of Oriental Languages, the predecessor of the present Department of Japanese, was established.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">1973</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">In order to accommodate the rapidly increasing number of students, the Department was enlarged and started to offer two freshman classes.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">1985</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">The Department was renamed the Department of Japanese.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">1991</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">To accommodate the continued growth of the student population, the Department commenced two day-time classes and two night-time classes.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">1997</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">In conformity with &ldquo;the policy of the night-time class conversion&rdquo; by the Ministry of Education, the Department stopped recruiting freshmen for night-time courses. Four freshman classes started to be offered as day-time courses.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">2001</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">The Department set up a new class of the In-Service Education Program for bachelor degrees. The number of classes for the day-time courses was decreased to three.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">2006</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">The Department has been offering the M.A. degree program since 2006.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">2007</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">The Department merged with the Department of Applied Japanese. Besides, the two-year program of In-Service courses was incorporated into the Department of Japanese.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:83px">
			<p style="text-align:center"><span style="font-size:14px">2008</span></p>
			</td>
			<td style="width:475px">
			<p><span style="font-size:14px">The In-Service Education Program for Bachelor degrees was expanded up to two classes.</span></p>
			</td>
		</tr>
	</tbody>
</table>