<table style="margin-left:calc(0%); margin-right:calc(13%); width:87%">
	<thead>
		<tr>
			<th colspan="2" style="background-color:#f7da64; width:99.1213%">
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹&mdash;Online Learning</span></div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:50.2636%">
			<div style="text-align: center;"><span style="font-size:18px"><iframe frameborder="0" src="https://www.youtube.com/embed/SQHtaOFJrMc" style="width: 496px; height: 252px;"></iframe></span></div>

			<div style="text-align: center;"><span style="font-size:18px">課程引言_非常村上春樹</span></div>
			</td>
			<td style="width:49.6485%">
			<div style="text-align: center;"><span style="font-size:18px"><iframe frameborder="0" src="https://www.youtube.com/embed/s5MLfPDmb78" style="width: 456px; height: 253px;"></iframe></span></div>

			<div style="text-align: center;"><span style="font-size:18px">&nbsp; 第1周前導-在臺灣閱讀春上村樹的小確幸</span></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.2636%">
			<div style="text-align: center;"><span style="font-size:18px"><iframe frameborder="0" src="https://www.youtube.com/embed/qGvK1wVRcHs" style="width: 465px; height: 263px;"></iframe></span></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 1-1 回顧漢字的歷史與角色</span></div>
			</td>
			<td style="width:49.6485%">
			<div style="text-align: center;"><span style="font-size:18px"><iframe frameborder="0" src="https://www.youtube.com/embed/gDqqdbNqwwc" style="width: 461px; height: 259px;"></iframe></span></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 1-2 探討留存台灣中的日語</span></div>
			</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top; width:50.2636%">
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/mezk3ZQqS5A" style="width: 469px; height: 265px;"></iframe></div>

			<div><span style="font-size:18px">非常村上春樹 1-3 村上春樹簡介</span></div>
			</td>
			<td style="text-align:center; vertical-align:top; width:49.6485%">
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/jNaDDXYgu58" style="width: 493px; height: 263px;"></iframe></div>

			<div><span style="font-size:18px">非常村上春樹 1-4 台灣的村上春樹現象</span></div>
			</td>
		</tr>
		<tr>
			<td>
			<div style="text-align: center;"><iframe frameborder="0" src="https://www.youtube.com/embed/17WJRA5mfLU" style="width: 445px; height: 264px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 1-5 村上春樹作品中的「小確幸」</span></div>
			</td>
			<td>
			<div style="text-align: center;"><iframe frameborder="0" src="https://www.youtube.com/embed/8Zq8bXvpC_g" style="width: 472px; height: 274px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 1-6 台灣日常使用的「小確幸」</span></div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<div style="text-align: center;"><iframe frameborder="0" src="https://www.youtube.com/embed/-2WfpvT1VPo" style="width: 445px; height: 269px;"></iframe><span style="font-size:18px">非常村上春樹 1-7 結語</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/RwU0i86HX18" style="width: 476px; height: 269px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">第2周前導-從點、線、面方式接近村上春樹作品</span></div>
			</td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/WdM4-0kTnq4" style="width: 480px; height: 265px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 2-1 沒有女人的男人們</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/8Onf9Tp3kOI" style="width: 448px; height: 271px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 2-2 作品間的互文關係</span></div>
			</td>
		</tr>
		<tr>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/25bNMoP_6Yc" style="width: 481px; height: 281px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 2-3 時間與空間的遊戲</span></div>
			</td>
			<td style="text-align:center">
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/GTMZyKkUkWc" style="width: 476px; height: 283px;"></iframe></div>
			<span style="font-size:18px">非常村上春樹 2-4 村上春樹文學一貫的脈絡</span></td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/LeiN753bNXY" style="width: 478px; height: 277px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 2-5 黃色saab900敞篷車的意意</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/NoqexFcdbNw" style="width: 490px; height: 275px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 2-6 我與文學的距離</span></div>
			</td>
		</tr>
		<tr>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/JhC0IDCsI-g" style="width: 474px; height: 239px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 2-7 結語</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/4D_MzxZj5m8" style="width: 456px; height: 241px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">第3周前導-點 女人與男人的角力戰</span></div>
			</td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/m_k0Btm8Jdw" style="width: 479px; height: 269px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 3-1 《沒有女人的男人們》作品簡介</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/Ph8XYLmPFoo" style="width: 468px; height: 273px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 3-2 怎麼變成沒有女人的男人呢</span></div>
			</td>
		</tr>
		<tr>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/V4hpeTDn5FU" style="width: 485px; height: 265px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 3-3 維繫沒有女人的男人們堅的情感為何</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/q06soUzed1Q" style="width: 454px; height: 267px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 3-4 村上春樹詮釋下的</span></div>

			<div style="text-align: center;"><span style="font-size:18px">女人跟男人們的角力戰</span></div>
			</td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/E4sSgocKTjE" style="width: 485px; height: 273px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 3-5 結語</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/sbjxHJeLGhw" style="width: 478px; height: 275px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">第4周前導-線 危機四伏時代的生存之道</span></div>
			</td>
		</tr>
		<tr>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/x_LA9CQ005E" style="width: 485px; height: 269px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-1 《戀愛撒姆薩》作品簡介</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/nDh74oSbVBU" style="width: 476px; height: 271px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-2 村上春樹與法蘭茲．卡夫卡</span></div>
			</td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/1gZfaQ7wplE" style="width: 482px; height: 273px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-3 卡夫卡《變身》與</span></div>

			<div style="text-align: center;"><span style="font-size:18px">村上春樹「戀愛撒姆薩」描繪家族手法的異同</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/Civkgd9fato" style="width: 472px; height: 269px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-4 作品舞台設定在「布拉格」的意義</span></div>
			</td>
		</tr>
		<tr>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/nt9Z3fG-omI" style="width: 479px; height: 255px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-5 變身成撒姆薩的「他」到底是何方神聖？</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/0o8ybeBXd9k" style="width: 444px; height: 255px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-6 華特．班雅明與「佝僂症小孩」的隱射</span></div>
			</td>
		</tr>
		<tr>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/bPREOLHt-rY" style="width: 479px; height: 277px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-7 與「世界」共舞</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/Wao-7HVvelw" style="width: 480px; height: 275px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 4-8 結語</span></div>
			</td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/iMGBNSoNuI8" style="width: 483px; height: 253px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">第5周前導-面 沒有女人的男人們中的社會文化記號學的表像</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/ygI-7dNTiyM" style="width: 464px; height: 257px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 5-1 綜觀近年村上春樹作品得到的啟示</span></div>
			</td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/bO_UJY2lhMY" style="width: 478px; height: 251px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 5-2 世代與社會記號符碼的暗喻</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/vG_8FExLwm4" style="width: 462px; height: 251px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 5-3 作品中精彩重現複合式符碼</span></div>
			</td>
		</tr>
		<tr>
			<td><iframe frameborder="0" src="https://www.youtube.com/embed/T0OtmlSm33U" style="width: 470px; height: 235px;"></iframe>
			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 5-4 村上春樹關注社會的獨特觀點</span></div>
			</td>
			<td>
			<div><iframe frameborder="0" src="https://www.youtube.com/embed/VHTrvgR0iJk" style="width: 444px; height: 239px;"></iframe></div>

			<div style="text-align: center;"><span style="font-size:18px">非常村上春樹 5-5 閱讀村上春樹作品</span></div>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>