<p><img src="/storage/app/media/Japanese/japanese department logo/cropped-images/logo-02-0-0-0-0-1520777399.jpg" style="height:191px; width:200px" /><span style="font-size:30px"><span style="color:#d14841"><strong><span style="font-family:Impact,Charcoal,sans-serif">歷屆系主任</span></strong>&nbsp;</span>&nbsp;</span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="background-color:#eb6b56; text-align:center">
			<p><span style="font-size:18px"><strong>屆別</strong></span></p>
			</td>
			<td style="background-color:#eb6b56">
			<p><span style="font-size:18px"><strong>姓名</strong></span></p>
			</td>
			<td style="background-color:#eb6b56">
			<p><span style="font-size:18px"><strong>接屆日期</strong></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第一屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">張建邦　校長</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國55年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第二屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">翁蘇倩卿老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國56年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第三屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">吳素珠　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國63年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第四屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">林綺雲　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國68年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第五屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">陳伯陶　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國69年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第六屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">林丕雄　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國79年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第七屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">張瑞雄　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國85年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第八屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">劉長輝　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國87年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第九屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">彭春陽　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國93年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第十屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">馬耀輝　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國99年8月1日</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:18px"><strong>第十一屆</strong></span></p>
			</td>
			<td>
			<p><span style="font-size:18px">曾秋桂　老師</span></p>
			</td>
			<td>
			<p><span style="font-size:18px">民國105年8月1日</span></p>
			</td>
		</tr>
	</tbody>
</table>