<h1>&nbsp;</h1>

<h3><img src="/storage/app/media/Japanese/japanese department logo/cropped-images/logo-01-258-748-2136-1992-1520776958.jpg" style="height:187px; width:200px" /><strong><span style="font-size:30px"><span style="color:#d14841">教學目標與特色</span></span></strong></h3>

<h4><strong><span style="color:#eb6b56">一、目標</span></strong></h4>

<p><span style="font-size:14px">培養21世紀宏觀之國際視野、能掌握應用資訊、具解決問題能力、有自主判斷力、創造力、專業基礎能力的日語人材。</span></p>

<h4><span style="color:#eb6b56"><strong>二、特色</strong></span></h4>

<p><span style="font-family:Arial,Helvetica,sans-serif"><strong>(一)大力推動國際交流</strong></span><br />
1.本校與日本姐妹校麗澤大學於民國69年開始進行交流合作，民國70年起互派交換留學生，民國74年麗澤大學中文系學生至校學習中文，迄今交流已屆滿20載。<br />
2.民國78年2月「麗澤學舍」峻工，麗澤大學學生、其他外籍生及日文系等學生共同生活於學舍中相互提攜交流，可稱得上是本校「國際化的搖籃」。</p>

<p><strong>(二)首創國內大三學生出國留學學分制</strong><br />
民國82年9月教育部開放學生出國進修，本系即率全國之先甄選15名學生至麗澤大學進修，每年派遣出國留學生分赴日本麗澤、城西、城西國際、京都橘女子大學（94年更名為京都橘大學），94學年度再增加長崎外國語大學修讀一年的課程、96學年度新增平成國際大學、98學年度新增同志社大學、106學年度新增熊本大學、109學年度新增高知大學及大谷大學，每年派遣學生約達50-75名，留學人數迄今持續穩定成長，深獲好評。歷年大三出國留學生人數請見<a href="https://www.tfjx.tku.edu.tw/japanese/web_page/487">歷屆大三出國留學人數統計表</a>。</p>

<p><strong>(三)每年另有日本早稻田、北海道、青山學院、亞細亞、津田塾、中央學院、駒澤、關西大學等各提供數名之交換留學生員額供本校學生申請。</strong></p>

<p><strong>(四)舉辦「特別講座」課程</strong><br />
每年聘請國內外專家學者、各大公司機構負責人及本系傑出系友蒞系主講，藉以增進本系學生對日本文學、語言、文化、社會、經濟等之認識與瞭解。</p>