<p><span style="color:#ff0000"><span style="font-size:24px"><strong>Faculty</strong></span></span>
</p>
<hr>

<p><span style="color:#ffa07a"><span style="font-size:14px"><strong>Professors Emeritus</strong></span></span>
</p>

<p><span style="font-size:14px">Chen, Bo-tao&nbsp;（陳伯陶）; Lin, Pi-shoung（林丕雄）</span></p>

<p><span style="color:#ffa07a"><span style="font-size:14px"><strong>Professors</strong></span></span>
</p>

<p><span style="font-size:14px">Tzeng, Chiou-Guey&nbsp;（曾秋桂）; Ochiai, Yuji&nbsp;（落合由治）</span></p>

<p><span style="color:#ffa07a"><span style="font-size:14px"><strong>Associate Professors</strong></span></span>
</p>

<p><span style="font-size:14px"><span style="color:#000000">Chang, Chong-ling （張瓊玲）; &nbsp;Huang, Shu-ching （黃淑靜）; Liou, Charng-huei （劉長輝）; Peng, Chuen-yang （彭春陽）; Sun, Yin-hua （孫寅華）; Chung, Fang-chen （鍾芳珍）; &nbsp;Chiueh, Pai-hua （闕百華）;Ma, Yaw-huei（馬耀輝）;Chiang, Wen-shun （江雯薰）;Horikoshi &nbsp;Kazuo（堀越和男）;Lin, Chi-wen （林寄雯）; Tomita Akira （富田哲）;Ku, Jiin-fen （顧錦芬）; Uchida Yasushi（內田康）; Wang,Chia-lin（王嘉臨）; Nakamura, kanae（中村香苗）;</span>Shih, Hsin-Yu&nbsp;（施信余）;Wang, Mei-ling&nbsp;（王美玲）; Liao, Yu-Ching（廖育卿）; Lee, Wen-ju（李文茹）;;Hsu, Pei-ling（徐佩伶）</span>
</p>

<p><span style="font-size:14px"><span style="color:#ffa07a"><strong>Assistant Professors</strong></span></span>
</p>

<p><span style="font-size:14px">Wang, Yi-Yun (王憶雲); Wang, Tien-Pao (王天保); Kikushima Kazunori (菊島和紀); Tsai,Hsin-Yin (蔡欣吟); Lai, Yu-Chin(賴鈺菁); Yeh, Ling(葉夌)</span></p>

<p><span style="color:#ffa07a"><span style="font-size:14px"><strong>Lecturers</strong></span></span>
</p>

<p>Chung, Tze-hsin&nbsp;（鍾慈馨; Kawamura, Hiroyuki&nbsp;（河村裕之）</p>