<h1 style="text-align: center;"><span style="color:#ff0000">Audition Examination</span></h1>
<hr>

<p><strong>Examination Subject:</strong></p>

<p>Written Test - Intermediate Japanese Reading Textbook (Full Book)</p>

<p>Listening Test - N2 - N1 Level</p>

<p><strong>Calculation of Examination Results:</strong></p>

<ol>
	<li>Written Test (Including Listening) - 30%</li>
	<li>Interview - 30%</li>
	<li>JLPT Results (N2 or N1) - 40%</li>
</ol>

<p><u>Only students meeting the results requirements will be allowed to fill in the Wishlist Allocation.</u></p>

<p><strong>Examination Rules:</strong></p>

<ol>
	<li>Bring along a Photo ID for identification (I.D. Card or Student Card)</li>
	<li>The written test will be 90 minutes long, students are not allowed entry 20 minutes after the commencement of the written test, The time for the test venue will be based on the computer time of the test venue.</li>
	<li>The listening test will commence 60 minutes after the written test, no early leaving allowed.</li>
	<li>No electronic devices capable of any form of communications are allowed (Smartphone, smart watches etc), please place all electronic devices in the bag are of the test venue. Any violation will be penalised with zero marks for said subject.</li>
	<li>Seat number for the exam will be announced on the official page of the Department, interview order will be announced in the test venue following the written test.</li>
	<li>Please stay outside of the interview waiting room while waiting for the interview, a missed queue will be switched to the last place of the queue.</li>
	<li>Any students causing excessive interference to the progress of the audition will be penalised with zero marks for the subject on-going during the time.</li>
	<li>Dress code: No hard provision. However, exposing or overly casual attire (Slippers, shorts etc) are not recommended.&nbsp;</li>
</ol>