<p><strong>徵選對象:</strong></p>

<ol>
	<li>日文系大二、進二生</li>
	<li>日文系大三轉學生(未參加過大三出國留學甄試者)</li>
	<li>外系轉日文系轉系生(不含內轉生，未參加過大三出國留學甄試者)</li>
	<li>雙主修之外系大二、大三生(未參加過大三出國留學甄試者，須該系主任之同意書)</li>
</ol>

<p><strong>報名資格:(須滿足下列條件)</strong></p>

<ul>
	<li>中級日語讀本合格(60分以上)者</li>
	<li>具有N2以上(含N1)成績者(毋須合格)</li>
	<li>非具有日本國籍身分者</li>
</ul>

<p><span style="color:#ff0000"><strong>※日檢成績於1月下旬開始提供線上查詢。查詢時間有限制，請務必於查詢時間內上網查詢並截圖保存。無日檢成績者，一律不予報名。</strong></span></p>