<p><span style="color:#ff0000"><strong><span style="font-size:16px">A Collection of Books</span></strong>
	</span>
</p>

<p>●The Department established “Komata Library”, which is composed of more than three thousand books. Most of the books were contributed from the personal library of retired Professor Yusuke Komata, and the “Komata Library” possesses books donated from other teachers as well.</p>

<p>●In 2008, the Department received 2,210 books from retired teachers Professor Kao Chin-Song and Mr. Cheng Ching-Hsing. In addition, the Japanese Chamber of Commerce and Industry Taipei has been donating to the Department approximately NT$ 40,000 every year that has been used for the purchase of books and research materials, which are kept at the Department office for the use of both teachers and students.</p>

<p>●Please click here to download detailed information on the collection of books mentioned above.</p>