<div><u><strong>畢業學分相關規定</strong></u><br />
<br />
<strong>(以下為98學年度範例，詳細規定請參見各學年度入學新生必修科目表)</strong></div>

<p>&nbsp;</p>

<div>&diams;畢&nbsp;&nbsp;業&nbsp;&nbsp;學&nbsp;&nbsp;分&nbsp;&nbsp;數：142學分<br />
<br />
&diams;必&nbsp;&nbsp;修&nbsp;&nbsp;學&nbsp;&nbsp;分&nbsp;&nbsp;數：104學分<br />
<br />
&diams;本系選修課最低學分：21學分<br />
<br />
&nbsp;</div>

<div>&nbsp;</div>

<div><span style="font-size:18px"><strong>98學年度日間部新生入學必修科目表</strong></span></div>

<p>&nbsp;</p>

<table border="0" cellpadding="3" cellspacing="0" style="line-height:normal; width:100%">
	<tbody>
		<tr>
			<td colspan="5">
			<p>一年級</p>
			</td>
			<td colspan="5">
			<p>二年級</p>
			</td>
			<td colspan="5">
			<p>三年級</p>
			</td>
			<td colspan="5">
			<p>四年級</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2">
			<p>科目名稱</p>
			</td>
			<td rowspan="2">
			<p>專業組別</p>
			</td>
			<td rowspan="2">
			<p>群別</p>
			</td>
			<td colspan="2">
			<p>學分</p>
			</td>
			<td rowspan="2">
			<p>科目名稱</p>
			</td>
			<td rowspan="2">
			<p>專業組別</p>
			</td>
			<td rowspan="2">
			<p>群別</p>
			</td>
			<td colspan="2">
			<p>學分</p>
			</td>
			<td rowspan="2">
			<p>科目名稱</p>
			</td>
			<td rowspan="2">
			<p>專業組別</p>
			</td>
			<td rowspan="2">
			<p>群別</p>
			</td>
			<td colspan="2">
			<p>學分</p>
			</td>
			<td rowspan="2">
			<p>科目名稱</p>
			</td>
			<td rowspan="2">
			<p>專業組別</p>
			</td>
			<td rowspan="2">
			<p>群別</p>
			</td>
			<td colspan="2">
			<p>學分</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>上</p>
			</td>
			<td>
			<p>下</p>
			</td>
			<td>
			<p>上</p>
			</td>
			<td>
			<p>下</p>
			</td>
			<td>
			<p>上</p>
			</td>
			<td>
			<p>下</p>
			</td>
			<td>
			<p>上</p>
			</td>
			<td>
			<p>下</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>A0254<br />
			日語會話(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>A0178<br />
			日文習作(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0179<br />
			日文習作（二）</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0249<br />
			日語修辭學</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>A0260<br />
			日語語言練習(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0255<br />
			日語會話(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>A0197<br />
			日本名著選讀(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A1107<br />
			日語會話(四)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>E1034<br />
			資訊概論</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A0261<br />
			日語語言練習(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>A0256<br />
			日語會話(三)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>A1757<br />
			日文應用文</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>H0003<br />
			全球科技革命</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>A1376<br />
			中國語文能力表達</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>3</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>A0565<br />
			高級日語</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>F0270<br />
			畢業專題寫作與指導</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>1</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9604<br />
			勞作教育課程</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>A1755<br />
			日文文書處理</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>1</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>A0939<br />
			日文翻譯</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9801<br />
			軍訓(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>F0115<br />
			中級日語讀本</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>4</p>
			</td>
			<td>
			<p>T9813<br />
			男生體育(三)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9811<br />
			男生體育(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>F0116<br />
			中級日語語法</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>2</p>
			</td>
			<td>
			<p>T9913<br />
			女生體育(三)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9901<br />
			護理(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>T9812<br />
			男生體育(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>未來學</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>R</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>T9911<br />
			女生體育(一)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>T9912<br />
			女生體育(二)</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>全球視野</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>T</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>X0001<br />
			英語能力檢定</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>0</p>
			</td>
			<td>
			<p>外國語文</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Q</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>哲學與宗教</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>V</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>文學經典</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>L</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>社會分析</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>W</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>學習與發展</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>N</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>歷史與文化</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>P</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>外國語文</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>Q</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<div><br />
【備&nbsp;&nbsp;註】<br />
&nbsp;
<p>1.各群應修最低學分數：L－2&nbsp;&nbsp;N－2&nbsp;&nbsp;P－2&nbsp;&nbsp;Q－8&nbsp;&nbsp;R－2&nbsp;&nbsp;T－2&nbsp;&nbsp;V－2&nbsp;&nbsp;W－2<br />
<br />
2.各群應修最低科目數：</p>

<p><br />
3.R、T、U、V、W係核心五大學門，大學部８９至９７學年度入學者五學門必修，二年制在職專班三學門必修。</p>

<p><br />
4.淡水校園大學部９８學年度起入學者R、T、N、Q群必修，L、M、P、S、U、V、W依所屬學院規定之四學門必修；二年制在職專班T群必修，L、M、P、S、U、V、W依所屬學院規定之二學門必修。</p>
<br />
5.各年度進學班新生入學相關資料表請至<span style="font-size:24px"><a href="https://www.tfjx.tku.edu.tw/japanese/file/1068">下載區</a></span>下載<br />
&nbsp;</div>

<p>&nbsp;</p>

<div><span style="font-size:18px"><strong>大學部課程結構圖</strong></span></div>

<p>&nbsp;</p>

<p><img alt="" src="http://www.tfjx.tku.edu.tw/img.php?img=106_019f258d.png&amp;dir=archive" style="border:0px; height:435px; width:580px" />&nbsp;</p>

<div>&nbsp;</div>

<div><span style="font-size:18px"><strong>大學部課程地圖</strong></span></div>

<p>&nbsp;</p>

<div><img alt="" src="http://www.tfjx.tku.edu.tw/img.php?img=92_152b7d12.png&amp;dir=archive" style="border:0px; height:783px; width:580px" /></div>

<p>&nbsp;</p>

<p>&nbsp;</p>