<p>&nbsp;</p>

<div><span style="font-size:14px"><u><strong>畢業學分相關規定</strong></u><br />
<br />
<strong>(以下為107學年度範例，詳細規定請參見各學年度入學新生必修科目表)</strong><br />
<br />
&diams;畢&nbsp;&nbsp;業&nbsp;&nbsp;學&nbsp;&nbsp;分&nbsp;&nbsp;數：128學分<br />
<br />
&diams;必&nbsp;&nbsp;修&nbsp;&nbsp;學&nbsp;&nbsp;分&nbsp;&nbsp;數：&nbsp;&nbsp;96學分<br />
<br />
&diams;本系選修課最低學分：16學分</span></div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div><strong><a id="1" name="1"></a>日間部新生入學必修科目</strong></div>

<div>&nbsp;</div>

<div>
<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="5" style="height:19px; width:197px">
			<p>一年級</p>
			</td>
			<td colspan="5" style="height:19px; width:197px">
			<p>一年級</p>
			</td>
			<td colspan="5" style="height:19px; width:197px">
			<p>二年級</p>
			</td>
			<td colspan="5" style="height:19px; width:197px">
			<p>三年級</p>
			</td>
			<td colspan="5" style="height:19px; width:202px">
			<p>四年級</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:11px; width:121px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">專業</p>

			<p style="margin-left:-6.0pt">組別</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">群</p>

			<p style="margin-left:-6.0pt">別</p>
			</td>
			<td colspan="2" style="height:11px; width:38px">
			<p style="margin-left:-6.0pt">學分</p>
			</td>
			<td rowspan="2" style="height:11px; width:121px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">專業</p>

			<p style="margin-left:-6.0pt">組別</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">群</p>

			<p style="margin-left:-6.0pt">別</p>
			</td>
			<td colspan="2" style="height:11px; width:38px">
			<p style="margin-left:-6.0pt">學分</p>
			</td>
			<td rowspan="2" style="height:11px; width:121px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">專業</p>

			<p style="margin-left:-6.0pt">組別</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">群</p>

			<p style="margin-left:-6.0pt">別</p>
			</td>
			<td colspan="2" style="height:11px; width:38px">
			<p style="margin-left:-6.0pt">學分</p>
			</td>
			<td rowspan="2" style="height:11px; width:121px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">專業</p>

			<p style="margin-left:-6.0pt">組別</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">群</p>

			<p style="margin-left:-6.0pt">別</p>
			</td>
			<td colspan="2" style="height:11px; width:38px">
			<p style="margin-left:-6.0pt">學分</p>
			</td>
			<td rowspan="2" style="height:11px; width:121px">
			<p>科目名稱</p>
			</td>
			<td rowspan="2" style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">專業</p>

			<p style="margin-left:-6.0pt">組別</p>
			</td>
			<td rowspan="2" style="height:11px; width:24px">
			<p style="margin-left:-6.0pt">群</p>

			<p style="margin-left:-6.0pt">別</p>
			</td>
			<td colspan="2" style="height:11px; width:38px">
			<p style="margin-left:-6.0pt">學分</p>
			</td>
		</tr>
		<tr>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">上</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">下</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">上</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">下</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">上</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">下</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">上</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">下</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">上</p>
			</td>
			<td style="height:11px; width:19px">
			<p style="margin-left:-6.0pt">下</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>A0254</p>

			<p>日語會話（一）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>學習與發展</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">N</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0178</p>

			<p>日文習作（一）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0179</p>

			<p>日文習作（二）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A1107</p>

			<p>日語會話（四）/</p>

			<p>日語會話（四）實務</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>A0260</p>

			<p>日語語言練習（一）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">1</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">1</p>
			</td>
			<td style="height:42px; width:121px">
			<p>資訊教育</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">O</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0255</p>

			<p>日語會話（二）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0197</p>

			<p>日本名著選讀（一）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A1757</p>

			<p>日文應用文 /</p>

			<p>日文應用文實務</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>A1376</p>

			<p>中國語文能力表達</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>歷史與文化</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">P</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0261</p>

			<p>日語語言練習（二）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">1</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">1</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0256</p>

			<p>日語會話（三）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>F0270</p>

			<p>畢業專題寫作與指導 /</p>

			<p>畢業專題寫作與指導實務</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">1</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">1</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>F0799</p>

			<p>初級日語讀本與語法</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">6</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">6</p>
			</td>
			<td style="height:42px; width:121px">
			<p>自然科學</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">U</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>F0115</p>

			<p>中級日語讀本</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">4</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">4</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0565</p>

			<p>高級日語</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>F1032</p>

			<p>商用日文習作 /</p>

			<p>商用日文習作實務</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>T0466</p>

			<p>英文（一）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>社會分析</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">W</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>F0116</p>

			<p>中級日語語法</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>A0939</p>

			<p>日文翻譯</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">2</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>T9607</p>

			<p>校園與社區服務學習</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>全球科技革命</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">Z</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>T9812</p>

			<p>男生體育（二）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>未來學</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">R</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>T9869</p>

			<p>男、女生體育</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>T9912</p>

			<p>女生體育（二）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>公民社會及參與</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">S</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>T9901</p>

			<p>護理（一）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>X0006</p>

			<p>日語能力檢定</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>全球視野</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">T</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>U1002</p>

			<p>全民國防教育軍事訓練（一）</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>藝術欣賞與創作</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">M</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>哲學與宗教</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">V</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>X0001</p>

			<p>英語能力檢定</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">0</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>外國語文</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">Q</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:43px; width:121px">
			<p>課外活動與團隊發展</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">K</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:43px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:43px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:42px; width:121px">
			<p>文學經典</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">L</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p style="margin-left:-6.0pt">&nbsp;</p>
			</td>
			<td style="height:42px; width:121px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:24px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
			<td style="height:42px; width:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>
<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="height:5px; width:829px">
			<p>【備&nbsp; 註】通識教育課程（相關規定請詳通核中心網頁）：</p>

			<p style="margin-left:62.0pt">（1）106學年度入學起必修26學分：人文（L、M、P、V）、社會（R、S、T、W）、科學（O、U、Z）各領域至少2學分，每學門至多修習2科4學分，共14學分；基本知能（K、N、Q、中國語文能力表達）共12學分。</p>

			<p style="margin-left:62.0pt">（2）104～105學年度入學必修31學分：人文（L、M、P、V）、社會（R、S、T、W）、科學（O、U、Z）各領域至少2學門4學分、每學門至多修習2科4學分，共18學分；基本知能（K、N、Q、中國語文能力表達）共13學分。</p>

			<p style="margin-left:58.0pt">（3）102～103學年度入學必修31學分：必修K、M、N、Q、R、T學門及中國語文能力表達；L、P、S、U、V、W學門依所屬學院6選3學門。</p>
			</td>
			<td style="height:5px; width:159px">
			<p style="margin-left:7.75pt">畢&nbsp; 業&nbsp; 學&nbsp; 分&nbsp; 數：128</p>

			<p style="margin-left:7.75pt">必&nbsp; 修&nbsp; 學&nbsp; 分&nbsp; 數： 96</p>

			<p style="margin-left:7.75pt">本系選修課最低學分： 16</p>

			<p style="margin-left:7.75pt">（系外選修學分：1 6）</p>

			<p>（系外選修可修本系選修替代）</p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div><br />
3.各年度日間部新生入學相關資料表請至<span style="font-size:24px"><a href="https://www.tfjx.tku.edu.tw/japanese/file/1068">下載區</a></span>下載

<p>&nbsp;</p>
</div>