<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><a href="https://www.tfjx.tku.edu.tw/japanese/web_page/1656">大三出國留學注意事項</a></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><a href="https://www.tfjx.tku.edu.tw/japanese/opinion/489">大三出國留學公告</a></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><a href="https://www.tfjx.tku.edu.tw/japanese/web_page/487">歷屆大三出國留學人數統計表</a></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><a href="https://www.tfjx.tku.edu.tw/japanese/opinion/1107">寒暑假赴日研修團</a></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Comic Sans MS,cursive"><a href="https://www.tfjx.tku.edu.tw/japanese/opinion/1108">寒暑假赴日實習</a></span></span></p>