<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="3" style="width:812px">
			<table border="1" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td colspan="3" style="width:812px">
						<p style="text-align: center;">大三出國留學流程(<span style="color:#ff0000">下列行程及事項無法配合者，請審慎考慮是否報名參加徵選</span>)</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p style="text-align: center;">時間</p>
						</td>
						<td style="width:189px">
						<p style="text-align: center;">項目</p>
						</td>
						<td style="width:501px">
						<p style="text-align: center;">備註</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>2月下旬~3月上旬</p>
						</td>
						<td style="width:189px">
						<p>大三出國留學甄試說明會</p>
						</td>
						<td style="width:501px">
						<p>說明大三出國留學流程及甄試辦法。</p>

						<p>邀請上上屆學長姐出席，提供同學詢問各姊妹校資訊。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>3月上旬</p>
						</td>
						<td style="width:189px">
						<p>大三出國留學甄試報名</p>
						</td>
						<td style="width:501px">
						<p>報名資訊詳見報名資格。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>3月上旬</p>
						</td>
						<td style="width:189px">
						<p>學海飛颺‧惜珠獎學金申請</p>
						</td>
						<td style="width:501px">
						<p>申請辦法詳見國際處公告。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>3月中旬</p>
						</td>
						<td style="width:189px">
						<p>大三出國留學甄試</p>
						</td>
						<td style="width:501px">
						<p>考試資訊詳見考試辦法。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>3月下旬</p>
						</td>
						<td style="width:189px">
						<p>大三出國留學志願選填</p>
						</td>
						<td style="width:501px">
						<p>請參考志願選填。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>4月~5月下旬</p>
						</td>
						<td style="width:189px">
						<p>留學資料及相關費用繳交</p>
						</td>
						<td style="width:501px">
						<p>繳交資料:在留資格申請書、健康檢查表、銀行餘額證明、護照等留學相關資料。</p>

						<p>相關費用:行政事務費、機票、簽證費、保險費、保証金等。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>5月~8月</p>
						</td>
						<td style="width:189px">
						<p>出發前準備</p>
						</td>
						<td style="width:501px">
						<p>宿舍分配(依各姊妹校規定)、交流協會獎學金申請資料提交、準備辦理留學簽証所需資料等。(詳見大三出國留學公告)</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>6月中下旬</p>
						</td>
						<td style="width:189px">
						<p>消防安全講習暨授旗典禮</p>
						</td>
						<td style="width:501px">
						<p><u>無故缺席者，記申誡乙支。</u></p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>7月下旬~8月中旬</p>
						</td>
						<td style="width:189px">
						<p>公告各校出發日期及飛機班次</p>
						</td>
						<td style="width:501px">
						<p>各姊妹校發布時間不一。</p>

						<p>出發時間:依照各姊妹校規定。</p>

						<p>出發地點:依公告。</p>

						<p><u>團體出發，不接受自行前往。</u></p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>8月上旬~中旬</p>
						</td>
						<td style="width:189px">
						<p>役男出境許可申請</p>
						</td>
						<td style="width:501px">
						<p>系上統一於7月下旬幫役男同學上公文申請役男出境許可，各位役男同學於<u>8月中上旬收到公文通知後(寄送至戶籍地)，攜帶公文及護照至區公所蓋出境許可章。</u></p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>8月下旬</p>
						</td>
						<td style="width:189px">
						<p>大三出國留學行前說明會</p>
						</td>
						<td style="width:501px">
						<p>說明行前注意事項。</p>

						<p>公佈出發集合時間。</p>

						<p><u>繳交辦理簽證所需資料。</u></p>

						<p>邀請前屆學長姐出席，提供同學詢問各姊妹校最新資訊。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>9月上旬~10月上旬</p>
						</td>
						<td style="width:189px">
						<p>各校出發</p>
						</td>
						<td style="width:501px">
						<p><u>本系無提供接、送機及帶隊之協助，同學抵日後，須於各姊妹校規定之時間內抵達集合、報到地點。</u></p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>9月上旬~</p>

						<p>隔年7月下旬</p>
						</td>
						<td style="width:189px">
						<p>留學生活</p>
						</td>
						<td style="width:501px">
						<p>同學於留學期間每月須繳交定期回報單。(<u>未繳交者，每篇扣除200元保證金</u>)</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>隔年8月下旬</p>
						</td>
						<td style="width:189px">
						<p>下屆行前說明會</p>
						</td>
						<td style="width:501px">
						<p>同學須於下屆行前說明會前返國並出席說明會，和學弟妹分享姊妹校最新資訊。<u>無故缺席者，記申誡乙支。</u></p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>隔年9月下旬~</p>

						<p>11月中旬</p>
						</td>
						<td style="width:189px">
						<p>學分抵免</p>
						</td>
						<td style="width:501px">
						<p>學分抵免詳見學分抵免原則。</p>

						<p>各姊妹校寄送成績單日期不一。<u>學分抵免最快於11月中旬才能完成。因抵免作業完成時，已超過期中退選時間，抵免作業前先行選課之科目會產生無法退選及無法申請獎學金、補助金之情形。</u></p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>隔年9月~</p>

						<p>下下學年3月下旬</p>
						</td>
						<td style="width:189px">
						<p>返國心得提交</p>
						</td>
						<td style="width:501px">
						<p>同學於返國後須繳交返國心得、問卷調查及生活事項調查。</p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>下下學年2月下旬~</p>

						<p>3月上旬</p>
						</td>
						<td style="width:189px">
						<p>下下屆甄試說明會</p>
						</td>
						<td style="width:501px">
						<p>同學須出席下下屆大三出國留學甄試說明會，和學弟妹分享姊妹校資訊。<u>無故缺席者，記申誡乙支。</u></p>
						</td>
					</tr>
					<tr>
						<td style="width:123px">
						<p>下下學年4月~6月</p>
						</td>
						<td style="width:189px">
						<p>退還保證金</p>
						</td>
						<td style="width:501px">
						<p>返國心得、問卷調查及生活事項調查繳交完成後，系上統一以匯款方式退還剩餘保證金。</p>

						<p>(<u>回報單未繳交者，每篇扣除200元保證金。授旗典禮、消防安全講習、下屆行前說明會及下下屆甄試說明會未出席者，每次扣除200元保證金</u>)</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>委託旅行社代辦事項</p>

<ul>
	<li>護照</li>
	<li>機票(一律由旅行社統一訂票，不接受各別訂票。同學出發後，旅行社會將暫訂回程日期取消，待同學確定返國日期後，逕自向航空公司劃位即可)</li>
	<li>保險(360天意外險，可自行投保，投保期間須涵蓋留學期間)</li>
	<li>簽證(委由旅行社統一於說明會隔日辦理，辦理時須收取護照及身分證等證件，辦理時間約3-5日，辦理完成後簽証、護照及身分證將由旅行社保管，至出發當日發還，期間若需要使用到護照或身分證的同學，請逕自向旅行社索取)</li>
	<li>送機(出發當日由旅行社至機場送機)</li>
</ul>

<p>&nbsp;</p>

<p><span style="color:#ff0000"><span style="font-size:16px"><u><strong>上述行程及事項無法配合者，請審慎考慮是否報名參加徵選。</strong></u></span></span></p>