<p><span style="color:#ff0000"><strong><span style="font-size:16px">※為維護同學權益，參加國際處甄選交換生同學，須確認放棄國際處錄取者始得填寫日文系志願。</span></strong></span></p>

<p><span style="color:#ff0000"><strong><span style="font-size:16px">※成績符合標準者始得填選志願，大三出國無後補機制。</span></strong></span></p>

<p>大三出國姊妹校派遣參考名額:<span style="color:#ff0000">(派遣名額視情況調整，以當年度公告名額為準)</span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:111px">
			<p style="text-align:center">麗澤大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">京都橘大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">城西國際大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">城西大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">橫濱國立大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">平成國際大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:111px">
			<p style="text-align:center">15</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">2021年度不招收</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">5</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">5</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">10</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">10</p>
			</td>
		</tr>
		<tr>
			<td style="width:111px">
			<p style="text-align:center">熊本大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">同志社大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">長崎外國語大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">高知大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">大谷大學</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">合計</p>
			</td>
		</tr>
		<tr>
			<td style="width:111px">
			<p style="text-align:center">1</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">2</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">5</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">3</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">1</p>
			</td>
			<td style="width:111px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>各姊妹校填選門檻:</p>

<p>麗澤大學-N2合格（N2未合格者，需指導教師推薦函）、大三出國留學甄試成績符合標準。</p>

<p>京都橘大學-大三出國留學甄試成績符合標準。</p>

<p>城西國際大學-大三出國留學甄試成績符合標準。</p>

<p>城西大學-N2合格（N2未合格者，經兩校協議，判斷是否予以入學，若未能入學，將安排選填剩餘志願校）、大三出國留學甄試成績符合標準。</p>

<p>橫濱國立大學-N2合格、大三出國留學甄試成績符合標準。</p>

<p>平成國際大學-大三出國留學甄試成績符合標準。</p>

<p>熊本大學-N1合格、大三出國留學甄試成績符合標準。</p>

<p>同志社大學-N2合格、大三出國留學甄試成績符合標準。<span style="color:#ff0000">（入學時，同志社會進行筆試、口試等入學測試，成績不佳者有被拒絕入學的可能，建議N1合格者或N2滿150分者選填，被拒絕入學者，則失去留學資格）</span></p>

<p>長崎外國語大學-大三出國留學甄試成績符合標準。</p>

<p>高知大學-N2合格、大三出國留學甄試成績符合標準。</p>

<p>大谷大學-N2合格、大三出國留學甄試成績符合標準。<span style="color:#ff0000">須接受姊妹校線上面談(skype)。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>填選志願注意事項:</strong></span></p>

<ol>
	<li><span style="font-size:14px">請同學務必按照規定時間前來填寫志願，如超過該組該名次前來，將列為該組最後一位填寫志願。若於下一組選填志願開始前仍未到達則列入下一組最後一位填寫，以此類推。故每組同學請務必於該組開始時間前來等待，現場唱名三次未到，即會請下一位同學填寫志願，為維護個人權益，請務必準時前來，逾時不候。</span></li>
	<li><span style="font-size:14px">填志願時僅能選擇一所學校，填選後便無法更改志願。選填志願前請同學先參考日文系公告及姊妹校資訊，應謹慎思考後再做決定。</span></li>
	<li><span style="font-size:14px">相關資料已掛系網頁大三出國留學公告及大三出國留學注意事項中)。</span></li>
	<li><span style="font-size:14px">填志願時請務必和家長商量之後，做好考量是否可以如期出國，避免選填後放棄，影響其他同學權益。</span></li>
	<li><span style="font-size:14px">因事無法前來者，可填寫附件委託書委託同學前來。</span></li>
	<li><span style="font-size:14px">未於選填作業時間內完成填選志願者，本系將視為放棄填選，自動失去留學資格。</span></li>
	<li><span style="font-size:14px">放棄志願選填的同學，請務必填寫大三出國留學放棄聲明書，送至系辦。</span></li>
	<li><span style="font-size:14px">同時申請國際處交換留學並合格者，前往國際處報到前請繳交大三出國留學放棄書至系辦。</span></li>
	<li><span style="font-size:14px">放棄國際處交換，欲選填本系大三出國志願者，填選志願時請填寫國際處交換留學放棄書後提出。</span></li>
</ol>

<p>&nbsp;</p>

<p><strong><span style="font-size:14px">填選志願所需資料:</span></strong></p>

<p>1.附照片之身分證明文件(身分證、學生証或健保卡)</p>

<p>2.身分證正、反面影本(印在同一面，A4大小，請勿裁剪)</p>

<p>3.護照影本</p>

<p>4.切結書</p>

<p>5.麗澤、橫濱國立、同志社、高知、大谷及熊本等校所需資格証明(日檢資格或教師推薦函)</p>

<p>6.志願填寫所需資料:姓名、系級、性別、學號、身分證號、出生年月日、戶籍地址、通訊地址、電子信箱、家長姓名及家長手機、住家電話、個人手機、護照英文名。</p>

<p>(不克前來填選志願者，請提供上述資料予被委託者，以利資料填寫)</p>

<p>&nbsp;</p>

<p>&nbsp;</p>