<p><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif"><a href="https://www.tfjx.tku.edu.tw/japanese/opinion/1115">大學部</a></span></span><a href="https://www.tfjx.tku.edu.tw/japanese/opinion/1115"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif">公告</span></span></a></p>

<p><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif"><a href="https://www.tfjx.tku.edu.tw/japanese/opinion/1119">碩士班</a></span></span><a href="https://www.tfjx.tku.edu.tw/japanese/opinion/1119"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif">公告</span></span></a></p>

<p><a href="http://adms.tku.edu.tw/"><span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif">淡江大學招生資訊</span></span></a></p>