<p><strong><span style="color:#ff0000"><span style="font-size:20px">本学科の沿革</span></span></strong></p>

<p><span style="font-size:14px">　淡江大学日本語文学科は、政府の教育政策に則り、学術方面のみならず、すばらしい人格を兼ね備えた優秀な日本語のできる人材を育てることを目指しています。本学科は1966年７月、「東方文学学科」として設立し、日本語、日本文学、日本社会、文化および政経等の指導にあたって来ました。長きにわたって行われてきた日中交流は、年々盛んになり、新しい人材の育成が急務となっております。日間部は1973年、政府教育部により2クラス増設が許され、夜間部もまた1991年に２クラスに増設されました。1985年「東方文学学科」は「日本語文学科」と改称、1997年に政府の政策転換にあわせ夜間部を廃止、日間部を４クラスに増設しました（約２４０名）。2001年８月から社会人の日本語学習に道を拓くため、日間部を３クラスとし（１８０名）、夜間コースを１クラス（６０名）と分け、全部で４クラス２４０名としました。2006年日本語文学学科修士課程新設、また同年から２年制短期大学部を廃止、大学部への編入を受け入れました。</span></p>