<h1><span style="font-size:24px"><span style="color:#ff0000"><strong>The Department</strong></span></span></h1>

<hr />
<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px">The mission of the Department of Japanese is to offer a variety of flexible courses and programs to meet a variety of social needs and educate students to be highly qualified&nbsp;with advanced language skills and a global sense.</span></span></p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px">Tracing its roots as the Department of Eastern Languages, the Department was established in 1966 and has been offering courses on the Japanese language, economy, politics, and culture. Owing to the rapid increase in student admission, the Department started to offer two freshman classes in 1973. In 1985, the Department was renamed to its&nbsp;current name</span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px">. In response to the continuous growth of student number, the Department of Japanese currently increased its admission up to about 240 undergraduates every year splitting into three day-time classes (about 180 students) and one night-time class (about 60 students). The Department has also been offering the M.A. degree since 2006.</span></span></p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px">The Department of Japanese was the first department at Tamkang University to set up one-year study abroad programs with partner universities in Japan. Approximately fifty students participate in the program and study in Japan for one academic year each year.</span></span></p>

<p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:14px">The Department of Japanese has a number of Japanese textbooks, academic journals, audio and video teaching materials about Japanese, Japanese culture and society. Students and faculty can watch Japanese live TV programs at any time via a new satellite system. Students can also freely use the Internet web-browsing and Japanese word-processing software any time on computers with full Japanese support installed.</span></span></p>