<h1 style="text-align: center;"><span style="color:#ff0000"><span style="font-size:24px"><strong>Vision</strong></span></span>
</h1>
<hr>

<p><strong>1. &nbsp; &nbsp; Programs</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; The department offers serious and sustained training in Japanese language. Carefully articulated four-year programs of language study are offered and the emphasis is on developing students' proficiency in all four skills, listening, speaking, reading and writing. &nbsp;Moreover, to meet a variety of social needs, the programs also offers a variety of optional courses on Japanese history, society, literature, linguistics, education, economy, politics, culture and philosophy. &nbsp;The mission of the Department of Japanese is to offer, and educate students to be highly qualified citizens with advanced language skills and a global sense.</p>

<p>&nbsp;</p>

<p><strong>2. &nbsp; &nbsp;&nbsp;</strong><strong>Teaching</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; Some courses such as Japanese Grammar, Readings, and Literature are given by lectures; most courses, such as Japanese Conversation, Composition, Translation and Interpretation, Japanese Language Laboratory, Business Application of Japanese, maintain small class sizes. Small classes contribute to better student participation and engagement, increased student achievement, and effective learning. We encourage students to take courses in which field they are interested and use elective time to prepare for study in a professional field to begin work toward graduate study. Students will be equipped with the skills necessary for success in both graduate school and their career paths.</p>

<p>&nbsp;</p>

<p><strong>3. &nbsp; &nbsp;&nbsp;</strong><strong>Faculty</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; There are thirty two tenured/tenure-track faculty members (2 professors, 13 associate professors, 14 assistant professors and three lecturers) and more than 56 joint faculty members in the department in total. &nbsp;Each professor has comprehensive knowledge of his or her own field, such as Japanese linguistics, Japanese literature, philosophy, Japanese society and culture, history, Teaching Japanese as a second language, Translating and Interpretation, and some other regional studies like Japanese law and politics, economics, and human society. &nbsp;These will complement, extend and enhance the students’ learning process and complete their college experiences.</p>

<p>&nbsp;</p>

<p><strong>4. &nbsp; &nbsp; Teaching Internship Program</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; The department runs Japanese courses for the teaching internship program which is held by the Center for Teacher Education in Tamkang University. &nbsp;Students are encouraged to take the teaching internship program and get the teaching license for secondary education. In addition to supervising student teachers in Japanese teaching, the department also offers support for Japanese-as-a-Second Language teaching services to secondary schools in Taipei city and the Hsinchu area. With all the effort the department puts in, the internship opportunities are increasing every year. It helps current students as well as recent graduates to get a head start in their teaching careers in teaching Japanese-as-a-Second Language, and prepares our students for the real world to allow them to fulfil their potential and succeed.</p>

<p>&nbsp;</p>

<p><strong>5. &nbsp; &nbsp; Students</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; With the modification of the college admission, students can apply for the Japanese department via multiple ways: (i) Stars Program, (ii) Personal Application, and (iii) Admission by Examination and Placement. &nbsp;Under these college admission processes, students with special interests and talents in subjects are welcome to apply for undergraduate programs in the Department of Japanese. In addition, there is also a special undergraduate program of Japanese which attracts both general and mature students. &nbsp;Students in either program in this department are strongly encouraged to participate in any Japan-related activities and events, such as international exchanges, Japan-Taiwan Youth Exchange Program, study abroad programs, Japanese-Language Proficiency Test, and study groups for further Japan studies. The Department of Japanese was the first department at Tamkang University to set up one-year study abroad programs with partner universities in Japan. Every year, approximately fifty students participate in the programs and study in Japan for one academic year. Not only are the courses held inside the classroom, but there are also non-recurring special invited talks that take place for students’ better and deeper understanding of Japan.</p>

<p>&nbsp;</p>

<p><strong>6. &nbsp; &nbsp; Resources</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; The department receives voluntary contributions from alumni, faculty, staff, publishers, companies and local organizations each year. The contributions go toward purchasing educational resources, study materials and equipment. The funds also directly support student scholarships as well as allowing them access to a high-quality, affordable education. The department is making effort to boost the number of donors in the future in order to improve the quality of education. &nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p><strong>7. &nbsp; &nbsp; Educational Cooperation</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;The department not only considers long-term plans to promote the growing cooperation with secondary schools in the field of Teaching-Japanese-as-a-Second Language, but will also establish and develop partnerships with other institutions, such as Extension/Continuing Education Centers. The more partnerships there are, the more opportunity and employability for students are available. This will help students in their future teaching or research careers.</p>

<p>&nbsp;</p>

<p><strong>8. &nbsp; &nbsp; Academics</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; The Tamkang Japanese Journal is a peer-reviewed, professional publication. The Journal encourages dialogue on Japan-relevant studies, seeks to expand knowledge of Japanese language, literature, education, culture and society. Faculty members are also encouraged to engage in research projects and conference participation besides teaching, so as to combine research with teaching to increase teaching quality and achieve academic success.</p>

<p>&nbsp;</p>

<p><strong>9. &nbsp; &nbsp; Professional Services</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; The Department of Japanese offers the following public services: (i) supporting Japanese language classes in Extension Education Centers and Community Colleges during the semester; (ii) providing the latest information and news about Japan; (iii) assisting students in making the move from study to employment by offering workshops, employer events, careers fairs and many other activities; careers advice and support is also available for our alumni.</p>

<p>&nbsp;</p>

<p><strong>10 &nbsp;&nbsp;</strong></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; Following the ‘Triple Objectives of Education’ including globalization, information-oriented education, and future-oriented education, the Department of Japanese aims to cultivate talents for roles that require outstanding communication skills to improve international relations, and information technology skills to meet the needs of this society as well as the global trends. To achieve these, not only Japanese language courses, but learn how to collect data and information is also emphasized in class. In addition, inspiring invited talks about all perspectives of any issue are often scheduled.</p>