<table border="1" cellpadding="0" cellspacing="0" style="width:620px">
	<tbody>
		<tr>
			<td colspan="3" style="width:620px">
			<p style="text-align:center"><strong>大三出國留學前期費用一覽</strong><span style="color:#ff0000">(<strong>下列費用為預估費用，僅供參考。正確費用以當年度公告為準</strong>)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:125px">
			<p style="text-align:center"><strong>項目</strong></p>
			</td>
			<td style="width:221px">
			<p style="text-align:center"><strong>金額(台幣)</strong></p>
			</td>
			<td style="width:274px">
			<p style="text-align:center"><strong>備註</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:125px">
			<p>保證金</p>
			</td>
			<td style="width:221px">
			<p>5,000元</p>
			</td>
			<td style="width:274px">
			<p>出國前參加所有學校及系上規定之活動、每月按時回報生活狀況、留學歸國並參加下一梯次行前說明會及下下梯次甄試說明會。完成上述所有活動且確認無欠繳任何費用後無息歸還。詳細規定請參考留學流程。</p>
			</td>
		</tr>
		<tr>
			<td style="width:125px">
			<p>行政事務費</p>
			</td>
			<td style="width:221px">
			<p>2,600元</p>
			</td>
			<td style="width:274px">
			<p>相關雜支費用。</p>

			<p>放棄或中止留學者，恕不退回。</p>
			</td>
		</tr>
		<tr>
			<td style="width:125px">
			<p>機票</p>
			</td>
			<td style="width:221px">
			<p>桃園↹成田:約&nbsp; 元</p>

			<p>桃園↹關西:約&nbsp; 元</p>

			<p>松山↹羽田:約&nbsp; 元</p>

			<p>桃園↹福岡:約&nbsp; 元</p>

			<p>桃園↹高松:約&nbsp; 元</p>

			<p>依旅行社當年報價為準。</p>

			<p><span style="color:#ff0000">※因疫情機票價格浮動會很大。</span></p>

			<p>以上所列機票為直飛之機票票價若因屬不可抗力之因素無直飛之航班，旅行社將代為協助訂購其他航點或轉機航班，費用另行報價，當地交通費用則依實際狀況另計。</p>
			</td>
			<td style="width:274px">
			<p>年票(來回一次)。</p>

			<p>桃園↹成田:麗澤、城國、城西、平成國際。</p>

			<p>桃園↹關西:京都橘、同志社。</p>

			<p>松山↹羽田:橫濱國立。</p>

			<p>桃園↹福岡:熊本、長外大。</p>
			</td>
		</tr>
		<tr>
			<td style="width:125px">
			<p>日本留學簽證費用</p>
			</td>
			<td style="width:221px">
			<p>1,000元</p>
			</td>
			<td style="width:274px">
			<p>若有變動，多退少補。</p>
			</td>
		</tr>
		<tr>
			<td style="width:125px">
			<p>保險(意外險)</p>
			</td>
			<td style="width:221px">
			<p>約5,000元</p>
			</td>
			<td style="width:274px">
			<p>依當年度保險公司報價為準，若有變動，多退少補。</p>

			<p>自行辦理者須繳交投保證明影本。</p>
			</td>
		</tr>
		<tr>
			<td style="width:125px">
			<p>旅行社代辦服務費</p>
			</td>
			<td style="width:221px">
			<p>依旅行社當年報價。</p>
			</td>
			<td style="width:274px">
			<p>委託旅行社代辦項目如下列所示。</p>

			<ul>
				<li>機票</li>
				<li>保險</li>
				<li>簽證</li>
				<li>送機</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<p><strong><span style="color:#ff0000"><span style="font-size:18px">上述所列費用為預估費用，僅供參考。正確費用以當年度公告為準。</span></span></strong></p>

<p><strong><span style="font-size:20px"><span style="color:#ff0000">※本年度大三出國留學，因疫情影響，機票價格浮動較大，可能為往年價格之數倍。</span></span></strong></p>

<p><strong><span style="font-size:20px"><span style="color:#ff0000">又，視日本政府及姊妹校規定，入境前須有核酸檢測陰性證明，且須提前14天入境，自費於防疫旅館隔離。</span></span></strong></p>

<p><strong><span style="font-size:20px"><span style="color:#ff0000">防疫旅館費用約16~25萬日幣。</span></span></strong></p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:151px">
			<p>&nbsp;</p>
			</td>
			<td style="width:255px">
			<p style="text-align:center">學費(一學年)</p>
			</td>
			<td style="width:255px">
			<p style="text-align:center">宿舍費</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>麗澤大學</p>
			</td>
			<td style="width:255px">
			<p>310,000日圓（春學期150,000日圓、秋學期160,000日圓）+1/4淡江大學學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>女子宿舍(有人數限制:1-2名):580,450日圓(含寢具租金)<br />
			校外宿舍:約58,000日圓/月(不含水電及瓦斯費用)*12個月+初期費用約113,000日圓(禮金、保證金等，不退還)</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>京都橘大學</p>
			</td>
			<td style="width:255px">
			<p>350,000日圓+1/4淡江大學學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>33,000~45,000日圓/月(不含水電及瓦斯費用)*12個月+生協手續費15,120~21060日圓+火災及學生賠償責任保險4,580日圓</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>城西國際大學</p>
			</td>
			<td style="width:255px">
			<p>淡江大學全額學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>40,000日圓/月(不含水電及瓦斯費用) *12個月+30,000日圓(設施管理費)</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>城西大學</p>
			</td>
			<td style="width:255px">
			<p>淡江大學全額學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>40,000日圓/月(不含水電及瓦斯費用) *12個月</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>橫濱國立大學</p>
			</td>
			<td style="width:255px">
			<p>355,200日圓+1/4淡江大學學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>10,500日圓/月(不含水電及瓦斯費用) *12個月(舊宿舍)</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>平成國際大學</p>
			</td>
			<td style="width:255px">
			<p>400,000日圓+1/4淡江大學學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>45,000~60,000日圓/月(不含水電及瓦斯費用)*12個月</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>熊本大學</p>
			</td>
			<td style="width:255px">
			<p>淡江大學全額學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>17,000日圓/月(不含水電及瓦斯費用) *12個月</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>同志社大學</p>
			</td>
			<td style="width:255px">
			<p>約677,000日圓(秋學期338,500，春學期未確定)+1/4淡江大學學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>42,000日圓/月(不含水電及瓦斯費用) *12個月+13,000日圓(入寮費)+10,300日圓(寢具租金)</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>長崎外國語大學</p>
			</td>
			<td style="width:255px">
			<p>573,750日圓+1/4淡江大學學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>42,000日圓/月(不含水電及瓦斯費用) *12個月+30,000日圓(入寮費)+20,000日圓/月(食費)*3個月(入寮後至11月底由宿舍安排膳食，之後可以選擇繼續繳交食費或是自炊)</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>高知大學</p>
			</td>
			<td style="width:255px">
			<p>淡江大學全額學費(台幣)</p>
			</td>
			<td style="width:255px">
			<p>35,000~50,000日圓/月(不含水電及瓦斯費用)*12個月</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>大谷大學</p>
			</td>
			<td style="width:255px">
			<p><span style="color:#ff0000">※現階段第一梯次為免繳姊妹校學費但須繳淡江大學全額學費(台幣)</span></p>
			</td>
			<td style="width:255px">
			<p>29,000日圓/月(不含水電及瓦斯費用)*12個月</p>
			</td>
		</tr>
		<tr>
			<td style="width:151px">
			<p>其他費用</p>
			</td>
			<td colspan="2" style="width:510px">
			<p>若無特別標示，則水電瓦斯費、管理費、網路費、保險費、禮金及押金等皆不包含在上述費用當中。</p>
			</td>
		</tr>
	</tbody>
</table>

<p><br />
<span style="color:#ff0000"><strong><span style="font-size:18px">留學生皆須另外繳交日本國民健康保險費用。</span></strong></span><span style="color:#ff0000"><strong><span style="font-size:18px">其餘費用，如抵達後交通費等，另行通知。</span></strong></span></p>

<p><strong><span style="color:#ff0000"><span style="font-size:18px">上述所列費用為預估費用，僅供參考。正確費用以當年度姊妹校提供之資料為準。</span></span></strong></p>

<p><span style="color:#ff0000"><span style="font-size:18px"><u><strong>上述費用無法接受者，請審慎考慮是否報名參加徵選。</strong></u></span></span></p>