<h1 style="text-align:center">List of Sister Universities</h1>

<hr />
<p>Below is a list of sisters universities that are currently in a partnership agreement to the Department of Japanese:</p>

<table class="oc-alternate-rows" style="text-align:center; width:300">
	<thead>
		<tr>
			<th colspan="2" style="width:99.9385%">
			<div style="text-align: center;">List of Sister Universities</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="background-color:#cccccc; width:50%">
			<div><strong>University</strong></div>
			</td>
			<td style="background-color:#cccccc; width:50%">
			<div><strong>Official Page Link</strong></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Reitaku University</div>
			</td>
			<td style="width:50.0000%">
			<div><a href="http://www.reitaku-u.ac.jp/koho/english/">http://www.reitaku-u.ac.jp/koho/english/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Kyoto Tachibana University</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="https://www.tachibana-u.ac.jp/english/">https://www.tachibana-u.ac.jp/english/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Josai International University</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="http://www.jiu.ac.jp/englishsite/">http://www.jiu.ac.jp/englishsite/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Josai University</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="https://www.josai.ac.jp/english/">https://www.josai.ac.jp/english/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Yokohama National University</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="http://www.ynu.ac.jp/english/">http://www.ynu.ac.jp/english/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Heisei International University</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="http://www.hiu.ac.jp/english/">http://www.hiu.ac.jp/english/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Kumamoto University</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="https://ewww.kumamoto-u.ac.jp/en/">https://ewww.kumamoto-u.ac.jp/en/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Doshisha University</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="https://www.doshisha.ac.jp/en/">https://www.doshisha.ac.jp/en/</a></div>
			</td>
		</tr>
		<tr>
			<td style="width:50.0000%">
			<div style="text-align: left;">Nagasaki University of Foreign Studies</div>
			</td>
			<td style="width:50.0000%">
			<div style="text-align: left;"><a href="http://www.nagasaki-gaigo.ac.jp/?lang=en">http://www.nagasaki-gaigo.ac.jp/?lang=en</a></div>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><em>Note: The list shown above are universities that have a partnership agreement specifically to the Department of Japanese, for sister universities partnering with the University, please visit the&nbsp;</em><a href="http://www.oieie.tku.edu.tw/?locale=en" rel="noopener noreferrer" target="_blank"><em>Office of International and Cross-Strait Affairs</em></a><em>.</em></p>

<p>&nbsp;</p>

<p><em>Last Updated: 2nd March 2019</em></p>