<p style="text-align:center"><strong>日文系學生境外修習學分抵免原則</strong></p>

<p style="text-align:right">本案經106學年度第1學期第3次系務會議通過</p>

<p style="text-align:right">108.3.13&nbsp; 107學年度第2學期第1次系務會議修訂通過</p>

<ul>
	<li><strong>適用對象：</strong>大三出國留學生(含轉學、轉系大四出國生)、國際處交換生。</li>
	<li><strong>採認科目：</strong>日語授課且與日本政治、經濟、文化、社會、語學、教育、文學相關之課程予以採認。中文課、野外實習(校外見學參觀等課程)、心理學、哲學、文化體驗課程(書法、繪畫、花道、茶道等)、除日文外之語言學習課程(西班牙文課、法文課等)，上述課程不予採認。</li>
	<li><strong>修習科目：</strong>依照各姊妹校規定選課。</li>
	<li><strong>認抵科目：</strong>日文系必修及系選修科目。(系外、通識課程及體育課等本系無權責認抵)</li>
	<li><strong>抵免科目：</strong>留學期間所屬年級以下之科目。例如：留學時若為三年級生，則可抵三年級、二年級及一年級之科目。若為三下、四上者，則可抵四上、三年級、二年級及一年級之科目。原則上，姊妹校上學期(秋季學期)學分抵淡江上學期學分，姊妹校下學期(春季學期)學分抵淡江下學期學分。</li>
	<li><strong>抵免學分：</strong>姊妹校單科1學分之科目得抵免本系單科2學分之科目，姊妹校單科2學分之科目得抵免本系單科2學分之科目，姊妹校單科3學分之科目得抵免本系單科2學分或3單科學分之科目，姊妹校單科4學分之科目得抵免本系單科4學分或2科單科2學分之科目。姊妹校單科1學分抵本系單科2學分者，抵免上限為該學期於姊妹校總修學分之三分之二為原則。另視姊妹系合約內容及實際開課狀況，授權本系系主任逕行調整抵免比例。另，除姊妹校單科4學分可抵免2科2學分外，其餘科目一律單科抵單科，不得以單科2學分抵2科1學分，單科3學分亦不得同時認抵單科1學分加單科2學分2門課。姊妹校單科4學分以上之課程，至多只能抵免本系2門2學分課程。</li>
	<li><strong>抵免上限：</strong>抵免學分上限為一學期18學分。但，108學年出國留學者(2019年9月大三出國生及2020年3月國際處交換生)，抵免學分上限為一學期20學分。</li>
	<li><strong>抵免分數：</strong>成績換算依照姊妹校給予之百分比分數給分。若姊妹校無提供百分比分數，則成績依照姊妹校給予之成績級距換算，最高級距(90+)一律給予92分，第二級距(80-89)一律給予88分，第三級距(70-79)一律給予78分，第四級距(60-69)一律給予68分。另外，「畢業專題寫作與指導」則依據指導老師評分給予成績，但須以對應成績抵免。</li>
	<li><strong>附註事項：</strong>大四出國生未於提出抵免申請之當學期開學第一週繳交畢業專題作品者，不得抵免「畢業專題寫作與指導」下學期學分。</li>
</ul>