<h3><img src="/storage/app/media/Japanese/japanese department logo/logo-02.jpg" style="height:143px; width:150px" /><span style="color:#b8312f"><strong><span style="font-size:30px">歷屆大三出國留學人數統計表</span></strong>&nbsp;</span></h3>

<p><span style="font-size:24px"><span style="color:#b8312f">　　　　　　　　★95至109學年度大三出國留學人數統計表★</span></span></p>

<table border="1" cellpadding="0" cellspacing="3" style="width:929px">
	<tbody>
		<tr>
			<td style="width:64px">
			<table border="1" cellpadding="0" cellspacing="3" style="width:929px">
				<tbody>
					<tr>
						<td style="width:63px">
						<p style="text-align:center"><strong>學　校</strong></p>

						<p style="text-align:center"><strong>＼</strong></p>

						<p style="text-align:center"><strong>學年度</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align:center"><strong><a href="http://www.reitaku-u.ac.jp/" target="_blank">麗澤</a></strong></p>

						<p style="text-align:center"><strong><a href="http://www.reitaku-u.ac.jp/" target="_blank">大學</a></strong></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><strong><a href="http://www.josai.ac.jp/" target="_blank">城西</a></strong></p>

						<p style="text-align:center"><strong><a href="http://www.josai.ac.jp/" target="_blank">大學</a></strong></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><strong><a href="http://www.jiu.ac.jp/" target="_blank">城西國際</a></strong></p>

						<p style="text-align:center"><strong><a href="http://www.jiu.ac.jp/" target="_blank">大學</a></strong></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><strong><a href="http://www.tachibana-u.ac.jp/" target="_blank">京都橘</a></strong></p>

						<p style="text-align:center"><strong><a href="http://www.tachibana-u.ac.jp/" target="_blank">大學</a></strong></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><strong><a href="http://www.nagasaki-gaigo.ac.jp/" target="_blank">長崎外國語</a></strong></p>

						<p style="text-align:center"><strong><a href="http://www.nagasaki-gaigo.ac.jp/" target="_blank">大學</a></strong></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><strong><a href="http://www5.hiu.ac.jp/WP_MU/" target="_blank">平成國際</a></strong></p>

						<p style="text-align:center"><strong><a href="http://www5.hiu.ac.jp/WP_MU/" target="_blank">大學</a></strong></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><strong><a href="http://www.doshisha.ac.jp/chc/" target="_blank">同志社</a></strong></p>

						<p style="text-align:center"><strong><a href="http://www.doshisha.ac.jp/chc/" target="_blank">大學</a></strong></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><a href="http://www.ynu.ac.jp/" target="_blank"><strong>橫濱國立</strong></a></p>

						<p style="text-align:center"><a href="http://www.ynu.ac.jp/" target="_blank"><strong>大學</strong></a></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><a href="http://www.kumamoto-u.ac.jp/" target="_blank"><strong>熊本</strong></a></p>

						<p style="text-align:center"><a href="http://www.kumamoto-u.ac.jp/" target="_blank"><strong>大學</strong></a></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><a href="http://www.tufs.ac.jp/" target="_blank"><strong>東京外國語</strong></a></p>

						<p style="text-align:center"><a href="http://www.tufs.ac.jp/" target="_blank"><strong>大學</strong></a></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><a href="http://www.kochi-u.ac.jp"><strong>高知</strong></a></p>

						<p style="text-align:center"><a href="http://www.kochi-u.ac.jp"><strong>大學</strong></a></p>
						</td>
						<td style="width:63px">
						<p style="text-align:center"><a href="http://www.otani.ac.jp"><strong>大谷</strong></a></p>

						<p style="text-align:center"><a href="http://www.otani.ac.jp"><strong>大學</strong></a></p>
						</td>
						<td style="width:61px">
						<p style="text-align:center"><strong>總計</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align:center"><strong>95</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">30</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>55</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>96</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">30</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">13</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>68</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>97</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">29</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">13</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>67</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>98</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">30</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">15</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>75</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>99</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">30</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">15</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">15</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>85</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>100</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">11</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">1</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">9</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">7</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">15</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>48</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>101</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">21</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">1</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">12</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>44</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>102</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">4</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">15</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">6</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">15</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>50</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>103</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">21</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">2</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">15</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">13</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>51</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>104</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">21</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">4</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">14</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">14</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>53</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>105</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">21</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">4</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">&nbsp;----&nbsp;</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>45</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>106</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">&nbsp;27&nbsp;</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">14</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">&nbsp;0&nbsp;</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">9</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">1</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">1</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>57&nbsp;</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:63px">
						<p style="text-align: center;"><strong>107</strong></p>
						</td>
						<td style="width:64px">
						<p style="text-align: center;">19</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">3</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">20</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">2</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">2</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">9</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">1</p>
						</td>
						<td style="width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width: 63px; text-align: center;">&nbsp;</td>
						<td style="width:61px">
						<p style="text-align: center;"><strong>61</strong></p>
						</td>
					</tr>
					<tr>
						<td style="height:3px; width:63px">
						<p style="text-align: center;"><strong>108</strong></p>
						</td>
						<td style="height:3px; width:64px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">1</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">5</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">16</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">0</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">2</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">10</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">1</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height: 3px; width: 63px; text-align: center;">&nbsp;</td>
						<td style="height: 3px; width: 63px; text-align: center;">&nbsp;</td>
						<td style="height:3px; width:61px">
						<p style="text-align: center;"><strong>45</strong></p>
						</td>
					</tr>
					<tr>
						<td style="height:3px; width:63px">
						<p style="text-align: center;"><strong>109</strong></p>
						</td>
						<td style="height:3px; width:64px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:63px">
						<p style="text-align: center;">----</p>
						</td>
						<td style="height:3px; width:61px">
						<p style="text-align: center;"><strong>0</strong></p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>