<h1 style="text-align: center; color: red">Application Requirements</h1>
<hr>

<p>Current students meeting the following requirements may apply for the programme:</p>

<ol>
	<li>Sophomore students for both day and night classes, OR</li>
	<li>Junior transfer students (Had not before applied for the programme), OR</li>
	<li>Minor students from other majors (Not including in-college transfer students, had not before applied for the programme), OR</li>
	<li>Sophomore and Junior double major students from other majors (Had not before applied for the programme, permission from the Head of Department required)</li>
</ol>

<p>Application requirements:</p>

<ol>
	<li>Acquired a Pass (60 marks above, inclusive) in Intermediate Japanese Reading, AND</li>
	<li>Acquired a result in JLPT N2 or above (A Pass not required), AND</li>
	<li>Without a Japanese citizenship&nbsp;</li>
</ol>

<p style="color: red"><strong>JLPT results will be released online by late January annually for a limited period of time, students applying for the programme must acquire a saved copy (via screenshot, etc) of the result shown online as proof of sitting for the exam. No registration are allowed should the student did not acquire a saved copy of JLPT results.</strong></p>