<p><span style="color:#ff0000"><span style="font-size:20px"><strong>展望と戦略</strong></span></span><br />
<span style="font-size:16px"><strong>１、課程</strong></span></p>

<p>本校の日本語文学科の課程は「聴く」、「話す」、「書く」、「読む」、「訳す」五技能の養成を軸とし、日本に関する歴史、社会文化、文学、語学、日本語教育、政治、経済、文化思想などの多様な専門領域を必修科目としています。日本語の基礎能力を高める以外に、日本の基礎知識を深め、亜細亜研究所への進学や就職に役立つことを目標としています。</p>

<p><span style="font-size:16px"><strong>２、授業</strong></span></p>

<p>初級、中級、上級日本語、文法、文学講読、修辞学などの必修課目は基本クラスで受け、会話、作文、翻訳、通訳、発音などの視聴覚練習語練、応用文などは少人数クラスで十分な練習を通し、学習効果を高めます。選択科目は学生の興味により、各領域を自由に選べます。日本の社会文化と文学の教養を深く身につけ、卒業後進学する際の研究に繋げます。</p>

<p><span style="font-size:16px"><strong>３、教師</strong></span></p>

<p>2006年度は専任講師24名、その内13名博士学位習得、5名博士課程修了、兼任講師41名です。教員は日本語学を始め、文学、社会文化、日本思想、歴史学、日本語教育、通訳、政治、経済貿易、社会、人文地域研究など専門分野の知識を有しています。又、亜細亜研究所の専任講師も基礎課程を設置し、幅広い学習領域を提供しています。今後も各分野により優秀な教師を確保に努め、より一層教師陣の充実に尽力します。</p>

<p><span style="font-size:16px"><strong>４、教育実習</strong></span></p>

<p>本校の師資培育中心（教員養成課程）に、日本語中等教育学程の専門課程を設置し、日本語学科の優秀学生を推薦しています。今迄多く学生が実習を終え、教員免許を取得しました。台北と新竹地域の高等学校第二外国語における日本語学習に教師を派遣しています。他にも中学校教育実習生の専門指導で著しい効果があげています。今後も教育実習学校の数を増やし、実習生のレベルアップは図ります。将来には教員養成過程未履修者の夏期研修や短期研修を強化していきます。</p>

<p><strong>&nbsp;</strong><span style="font-size:16px"><strong>５、入試制度と学校生活</strong></span><br />
1988年度から自己推薦入試をスタートし、2000年度には推薦入学も増員し、現在</p>

<p>は大学共同入学試験以外にも上記の様な入学制度を実施しています。各年約60人</p>

<p>で1クラスを組み、より高い学習効果を出しています。これからも多様な入学制度で優</p>

<p>秀な学生を募集します。そのほか、2001年度から一クラスを夜間部に変え、社会人も</p>

<p>勉強できるようになりました。在学中は日本語能力検定資格試験の参加、三年次の留</p>

<p>学、交換留学生の推薦試験、日本への青年訪問団、青年の船、進学の学生のため</p>

<p>に勉強会、留学と進学の奨学金試験等を奨励し、留学インフォーメーションなどを提</p>

<p>供しております。国際交流促進のほか、2000年度から毎年約学生60名の三年生が</p>

<p>一年間日本に留学しており、海外留学修得単位制を全国に先駆けて取り入れまし</p>

<p>た。早稲田大学、亞細亞大学、津田塾大学、中央学院大学、駒澤大学、青山学院</p>

<p>大学などとの数名の交換学生があります。又、国内外の専門家、学者や企業家などの</p>

<p>特別講座を開き、日本の各領域の認識を深めます。</p>

<p><span style="font-size:16px"><strong>６、学習環境</strong></span></p>

<p>教師、卒業生の協力、国内企業、日系企業、出版社、などの支援者の援助により、研究教材、書籍の購入、将来には奨学金を成立、教室設備の更新などを目標とします。</p>

<p><span style="font-size:16px"><strong>７、教育提携</strong></span></p>

<p>すでに実施されている高等学校第２外国語教育への教師派遣をさらに広げ、学生が多くの実習をできるように機会を増やします。推廣教育教育班（地域社会教育）の授業、夏休み研修活動などに協力します。</p>

<p><span style="font-size:16px"><strong>8、研究</strong></span></p>

<p>論文集『淡江日本論叢』を充実させ、研究水準を向上することにより、国際的な刊行誌までレベルアップできるよう努力しております。教師陣の積極的な研究発表や国内外の学会への参加を支援し、研究成果を教育課程に取り入れることで、研究と教育の一体化という理想目標を達成しました。日本での短期研修・国内外での日本語教育及び日本研究に関係する学会に積極的に参加するといった学術研究の活動は、研究内容の質の向上につながっていると自負しております。今後、研究助成金を積極的に申請してゆきます。</p>

<p><span style="font-size:16px"><strong>９．サポート体制</strong></span></p>

<p>　校内外問わず日本語教育課程普及のサポートをすることは、日本語文学科の行う社会貢献の一側面です。本学科のHPは、卒業生や閲覧者の方々に日本の最新情報を提供するとともに、教学に関する情報提供し、教育成果を社会還元しております。優秀な卒業生を推薦することで企業側からの要望にこたえるだけではなく、企業への訪問や説明会への参加を通し、本学科と日系企業の関係を深めることにより、生徒に向けて優良企業への就職・転職先の提供にも努めております。</p>

<p><span style="font-size:16px"><strong>１０．国際化・情報化・未来化の実施</strong></span></p>

<p>　言語トレーニング・基礎教養の体得・大学三年時における交換留学の定員増加以外の取り組みとして、日本語を使った文書処理をトレーニングする専門課程を設け、広範囲にわたる情報活用の指導を行っています。その他、海外の学識者に国際シンポジウムへの参加依頼及び日本の法律・政治・経済・貿易・社会・人文科学等、関係領域の講演に招いており、将来役立つ演題内容となるように努めております。また、その内容を保存、HP上で公開し、閲覧・ダウンロード等利用できるようになっております。</p>