<p><span style="color:#ff0000"><span style="font-size:20px"><strong>教学目標と特色</strong></span></span></p>

<p><span style="color:#ffa07a"><span style="font-size:18px"><strong>．目標</strong></span></span></p>

<p><span style="font-size:14px">&nbsp;&nbsp;&nbsp;国際的視野で２１世紀を捉え、情報をフルに活用し、問題解決能力・自主判断能力・創造力・基礎的日本語能力をもつ人材を育成します。</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<p><span style="color:#ffa07a"><span style="font-size:18px"><strong>&nbsp;</strong><strong>．特色</strong></span></span></p>

<p><span style="font-size:16px"><strong>（１） 国際交流の推進</strong></span></p>

<p>ⅰ）本校と日本の麗澤大学は１９８０年に姉妹校として協定を結び、１９８１年より交換留学を開始、１９８５年には麗澤大学中国語学科の学生が本校にて中国語を学び始めました。交流を開始してからすでに３０年がたっております。</p>

<p>ⅱ）１９８９年２月「麗澤国際寮」を竣工、麗澤大学の学生、外国人留学生、日本語学科の学生たちの共同生活における交流は、わが校の「異文化コミュニケーションの場」と呼ぶにふさわしいといえるでしょう。</p>

<p><span style="font-size:16px"><strong>（２） 大学３年生の留学制度設置</strong></span></p>

<p>１９９３年９月、政府が海外留学を認めたのを機に、本学科は全国に先駆けて１５名を麗澤大学に派遣しました。１９９７年までに毎年３５名が日本の麗澤大学、城西大学、城西国際大学、京都橘女子大学（現、京都橘大学）へ留学しているほか、２００５年度には新たに長崎外国語大学での修学課程を増加しました。留学生数は安定して伸びており、好評を博しております。現在、留学生枠は７８名に増えております。</p>

<p><span style="font-size:16px"><strong>（３）留学制度</strong></span></p>

<p>上記のほか、早稲田大学、青山学院大学、亜細亜大学、津田塾大学、中央学院大学、駒沢大学等への留学制度もあります。</p>

<p><span style="font-size:16px"><strong>（４）特別講座」コース</strong></span></p>

<p>本学科の学生が日本文学・言語・文化・社会経済等に対してより深く認識し、理解を深めることができるよう、本学科と大企業が協力して毎年国内外の専門家を招いております。</p>