<p>主辦SDGs相關活動</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:236px">
			<p style="text-align: center;">活動名稱</p>
			</td>
			<td style="width:114px">
			<p style="text-align: center;">主講人</p>
			</td>
			<td style="width:104px">
			<p style="text-align: center;">時間</p>
			</td>
			<td style="width:100px">
			<p style="text-align: center;">地點</p>
			</td>
		</tr>
		<tr>
			<td style="width:236px">
			<p>「AI新時代新思維的SDGs加值」</p>
			</td>
			<td style="width:114px">
			<p style="text-align: center;">羅曉勤副教授</p>
			</td>
			<td style="width:104px">
			<p style="text-align: center;">2020.11.19</p>
			</td>
			<td style="width:100px">
			<p style="text-align: center;">淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:236px">
			<p>「桌遊：認識SDGs的精神來翻轉我們的世界」</p>
			</td>
			<td style="width:114px">
			<p style="text-align: center;">羅曉勤副教授</p>
			</td>
			<td style="width:104px">
			<p style="text-align: center;">2021.12.17</p>
			</td>
			<td style="width:100px">
			<p style="text-align: center;">淡江大學</p>
			</td>
		</tr>
		<tr>
			<td style="width:236px">
			<p>「教師發揮創意的SDGs課程教學」工作坊</p>
			</td>
			<td style="width:114px">
			<p style="text-align: center;">張桂芬老師</p>
			</td>
			<td style="width:104px">
			<p style="text-align: center;">2021.12.17</p>
			</td>
			<td style="width:100px">
			<p style="text-align: center;">淡江大學</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>