<h1><span style="font-size:24px"><span style="color:#ff0000"><strong>Career Outcomes</strong></span></span></h1>

<hr />
<p><span style="font-size:16px"><span style="color:#000000"><span style="font-family:Arial,Helvetica,sans-serif">Graduates can work in fields such as:&nbsp;</span></span></span></p>

<table border="0" cellpadding="1" cellspacing="0" style="line-height:normal">
	<tbody>
		<tr>
			<td style="width:158px">
			<p style="text-align:center"><strong>Higher Education</strong></p>
			</td>
			<td style="width:408px">
			<p>Domestic Graduate Schools</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>International Graduate Schools</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center"><strong>Teachers &amp; Literary Professions</strong></p>
			</td>
			<td style="width:408px">
			<p>Teachers (Elementary, Junior and Senior High Schools, Cram Schools, Universities)</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Translator, Interpreter</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center"><strong>Business</strong></p>
			</td>
			<td style="width:408px">
			<p>Finance and Insurance Sector</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Trading and Retail Sector</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>IT Sectors</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center"><strong>Public Service</strong></p>
			</td>
			<td style="width:408px">
			<p>Schools and Governmental Organisations</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center"><strong>Tourism</strong></p>
			</td>
			<td style="width:408px">
			<p>Tourism Sector</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p>&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Aviation Sector</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center"><strong>Others</strong></p>
			</td>
			<td style="width:408px">
			<p>Socio-cultural service industries</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Automobiles Industries</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Construction Industries</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Mass Media</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Transportation Industries</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
			<td style="width:408px">
			<p>Medical Sector</p>
			</td>
		</tr>
		<tr>
			<td style="width:158px">
			<p style="text-align:center">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>