<p><strong>測驗項目:</strong></p>

<p>筆試:中級日語讀本教材-來學日本語初中級全冊</p>

<p>聽力:N2-N1</p>

<p><strong>成績計算:</strong></p>

<p>1.筆試(含聽力)&nbsp; 30%</p>

<p>2.口試&nbsp; 30%</p>

<p>3.日檢(N2或N1)成績&nbsp;&nbsp;40%</p>

<p><u>總成績符合標準者得選填志願</u></p>

<p><strong>應試規定:比照淡江大學應試規定</strong></p>

<p>◎請攜帶附有照片可辨認身分之證明(身分證或學生證等)。</p>

<p>◎筆試時間為90分鐘，考試開始20分鐘後不予入場，以考試會場電腦顯示時間為基準。</p>

<p>◎考試開始60分鐘後播放聽力測驗，不得提早交卷。</p>

<p>◎考試期間禁止攜帶或配戴任何電子產品(如:手機、iPad、iWatch等)&nbsp;，請將電子產品關機並置於考試教室前後行李置放處，違規者該科不計分。</p>

<p>◎筆試座位表於考試前日公佈於大三出國留學公告，口試順序表於考試當天筆試結束後公佈於考試會場。</p>

<p>◎口試期間請於等候室等待叫號，請勿擅自離開，叫號時未到者挪至最後一個順序。</p>

<p>◎考試期間干擾考試秩序者(如:考試時間手機等電子設備響起；太過吵雜影響口試進行等)，該科不予計分。</p>

<p>◎應試服裝:無硬性規定，但，請勿穿著過於暴露或休閒之服裝。如:短褲、背心、拖鞋、涼鞋等。</p>