<p>大三出國留學姊妹校連結:</p>

<p>麗澤大學-<a href="https://www.reitaku-u.ac.jp/">https://www.reitaku-u.ac.jp/</a></p>

<p>京都橘大學-<a href="http://www.tachibana-u.ac.jp/">http://www.tachibana-u.ac.jp/</a></p>

<p>城西國際大學-<a href="https://www.jiu.ac.jp/taiwan/">https://www.jiu.ac.jp/taiwan/</a></p>

<p>城西大學-<a href="https://www.josai.ac.jp/">https://www.josai.ac.jp/</a></p>

<p>橫濱國立大學-<a href="http://www.ynu.ac.jp/">http://www.ynu.ac.jp/</a></p>

<p>平城國際大學-<a href="http://www.hiu.ac.jp/">http://www.hiu.ac.jp/</a></p>

<p>熊本大學-<a href="https://www.kumamoto-u.ac.jp/">https://www.kumamoto-u.ac.jp/</a></p>

<p>同志社大學-<a href="https://www.doshisha.ac.jp/">https://www.doshisha.ac.jp/</a></p>

<p>長崎外國語大學-<a href="http://www.nagasaki-gaigo.ac.jp/">http://www.nagasaki-gaigo.ac.jp/</a></p>

<p>高知大學-<a href="http://www.kochi-u.ac.jp/">http://www.kochi-u.ac.jp</a></p>

<p>大谷大學-<a href="http://www.otani.ac.jp/">http://www.otani.ac.jp</a></p>