<h1><span style="color:#ff0000"><span style="font-size:24px"><strong>Curriculum</strong></span></span></h1>

<hr />
<p><span style="color:#ffa07a"><span style="font-size:16px"><strong>Core Undergraduate Units</strong></span></span></p>

<p><strong>A0178 Japanese Composition I (2/2)&nbsp;</strong>To improve students&#39; writing skills in Japanese, this course offers an introduction to basic Japanese writing styles by analyzing and explaining contemporary Japanese phrases, clauses, and sentence structures.</p>

<p><strong>A0179 Japanese Composition II (2/2)&nbsp;</strong>This course aims to strengthen students&#39; overall writing skills by discussing and explaining contemporary Japanese.</p>

<p><strong>A0190 History of Japanese Literature (2/2)&nbsp;</strong>This course offers an introduction to the history of Japanese literature. It explains and discusses selected Japanese works of each era in the history of Japanese literature.</p>

<p><strong>A0197 Selected Readings in Japanese Literature I (2/2)&nbsp;</strong>This course offers an introduction and appreciation of renowned modern and classical Japanese novels and selected writings.</p>

<p><strong>A0198 Selected Readings in Japanese Literature II (2/2)&nbsp;</strong>This course focuses on the appreciation of renowned classical Japanese novels and selected works. Modern Japanese works are not included.</p>

<p><strong>A0212 Japanese Politics (2/2)&nbsp;</strong>This course offers an introduction to contemporary Japanese politics. It deals with and discusses the modern political systems in Japan starting in the Meiji era.</p>

<p><strong>A0235 Introduction to Japanese (2/2)&nbsp;</strong>This course explains and analyzes Japanese from a linguistic perspective. General information on Japanese sound and structural features are explained in the class.</p>

<p><strong>A0239 History of Japan (2/2)&nbsp;</strong>This course traces and explains Japanese history, with a special reference to Chinese history and culture.</p>

<p><strong>A0249 Japanese Rhetoric (2/2)&nbsp;</strong>This course explains a basic and intermediate level of Japanese rhetoric. Students also practice composing a variety of Japanese poems with different styles in and out of the class.</p>

<p><strong>A0254 Japanese Conversation I (4/4)&nbsp;</strong>Conducted in small groups, this course aims at cultivating students&rsquo; interest in Japanese culture and society and reinforcing students&#39; basic speaking and listening skills in Japanese.</p>

<p><strong>A0255 Japanese Conversation II (4/4)&nbsp;</strong>This course trains students to be more ready speakers in Japanese on various topics. Students are strongly encouraged to discuss various social and personal topics in Japanese.</p>

<p><strong>A0256 Japanese Conversation III (2/2)&nbsp;</strong>This course aims at strengthening students&#39; competence in listening and speaking of modern Japanese.</p>

<p><strong>A0260 Japanese Language Laboratory I (2/2)&nbsp;</strong>This course is language laboratory drills in basic Japanese with a special emphasis on listening and speaking.</p>

<p><strong>A0260 Japanese Language Laboratory (0/0)&nbsp;</strong>This course offers language laboratory drills in basic Japanese, as part of the coursework for Japanese Language Laboratory I and Japanese I.</p>

<p><strong>A0261 Japanese Language Laboratory II (0/0)&nbsp;</strong>This course offers language laboratory drills in intermediate Japanese, as part of the coursework for Japanese II.</p>

<p><strong>A0565 Japanese III (2/2)&nbsp;</strong>This course aims to reinforce students&#39; over-all Japanese proficiency by teaching advanced-level Japanese sentence patterns and daily language usage referring to Japanese literature.</p>

<p><strong>A0926 Reading Newspaper (2/2)&nbsp;</strong>Articles of various topics including national and international issues in Japanese newspapers are introduced and explained in Japanese. Students in this course are strongly encouraged to read the selected articles and express their own opinions.</p>

<p><strong>A1104 Japanese Society and Culture (2/2)&nbsp;</strong>The purpose of this course is to lead students to look at various aspects of Japanese society and culture deeply and analyze and discuss them objectively and academically.</p>

<p><strong>A1107 Japanese Conversation IV (2/2)&nbsp;</strong>The goal of this course is to enable students to communicate with more sophisticated and advanced structures and with a large vocabulary on a variety of topics.</p>

<p><strong>A1531 Teaching Japanese as A Second Language&nbsp;</strong>(<strong>2/2</strong>) This course deals with the basics of teaching Japanese as a second language, including course planning, production, and usage of teaching materials, evaluation, etc.</p>

<p><strong>A1645 History of Japanese Philosophy (2/2)&nbsp;</strong>This course deals with the development of Japanese philosophy and culture referring to Chinese and Western histories and cultures. Modern philosophy and culture in Japan are also discussed in this class.</p>

<p><strong>A1755 Japanese Word Processing (1/0)&nbsp;</strong>This course deals with the input method of Japanese characters into the computer and composing Japanese documents by word-processing software on the computer.</p>

<p><strong>A1757 Business Application of Japanese (2/2)&nbsp;</strong>Rules and styles of Japanese in business documents and frequently used phrases and sentences in business documents and/or letters are introduced and explained in this course.</p>

<p><strong>A1759 Research Method on Japanese Linguistics (2/2)&nbsp;</strong>This course discusses how students should conduct their research on Japanese linguistics so as to help them complete their graduation research and theses.</p>

<p><strong>F0038 Introduction to Japanese Enterprise (2/2)&nbsp;</strong>Developmental history, unique characteristics, various problems, and futures of Japanese enterprises are analyzed and discussed in this course.</p>

<p><strong>F0051 Japanese Translation and Interpretation (2/2)&nbsp;</strong>This course offers an introduction to theories and practices of modern Chinese-Japanese translation and oral interpretation utilizing audio and visual materials.</p>

<p><strong>F0113 Japanese I (Reading) (4/4)&nbsp;</strong>Fifty sounds of Japanese and their symbols are introduced and explained in this course; then basic phrases and sentences are introduced and analyzed.</p>

<p><strong>F0114 Japanese I (Grammar) (2/2)&nbsp;</strong>Basic Japanese phrases and sentence structures are analyzed and discussed in this course. &nbsp;This course also focuses more on the grammatical features of Japanese sentences at a beginners&#39; level.</p>

<p><strong>F0115 Intermediate Japanese reading (4/4)&nbsp;</strong>This course teaches an intermediate level of Japanese, which focuses on complex Japanese phrases and sentence structures based on the knowledge and understandings learned in Japanese I.</p>

<p><strong>F0116 Intermediate Japanese Grammar (2/2)&nbsp;</strong>Stressing both explanation and discussion, this course aims to help students understand Japanese sentence structures and grammar so as to strengthen student&#39;s writing ability.</p>

<p><strong>F0270 Guidance for Bachelor Thesis (1/1)&nbsp;</strong>This course offers an introduction to research methods for studying Japanese language, culture, and society. Rules and styles for an academic thesis are also explained in the class. All senior students are required to submit a graduation thesis at the end of the final semester.</p>