<p style="text-align: center;"><span style="color:#ff0000"><span style="font-size:18px"><strong>淡江大学日本語文学科　紹介</strong></span></span></p>

<p><span style="font-size:16px"><strong>創</strong></span><span style="font-size:14px">立４０年になる淡江大学日本語文学科は、革新と積極性をモットーに常に新しい方向に邁進しております。特に近年においては、他の大学においても日本語学科の設立がめざましく、新たな挑戦が生まれます。淡江大学日本語文学科は、教授、教学内容、研究内容等各方面を見直し、すでにあるノウハウの上に新たな世界を拓くことに努力を続けております。</span></p>

<p><strong><span style="font-size:16px">品</span></strong><span style="font-size:14px">質の高い教育と国際化時代のニーズにあった優秀な日本語の人材を輩出することをめざしています。またこのほかにも、本学科は国際学術会議の開催や留学生の派遣等、国際的学術の交流に力を注いでおります。国際文化の相互理解を深めるとともに、国際的視野を広げ、本学科の学術水準を引き上げ、国際化へ向かって進んでまいります。</span></p>