<h1><span style="color:#ff0000"><span style="font-size:24px">Mission and Differentiating Aspects</span>&nbsp;</span>
</h1>
<hr>

<p><span style="font-size:14px"><span style="color:#ffa07a"><strong>1. &nbsp;Mission</strong></span></span>
</p>

<p><span style="font-size:14px">&nbsp; &nbsp; &nbsp; &nbsp; To develop vital Japanese linguistic competence, global perspectives, problem-solving skills, critical thinking and creativity in students enrolling into the Department.</span></p>

<p><span style="color:#ffa07a"><span style="font-size:14px"><strong>2. Differentiating Aspects</strong></span></span>
</p>

<p><span style="font-size:14px"><strong>1) International Exchange</strong></span></p>

<p><span style="font-size:14px">1.1 The University and Reitaku University in Japan concluded a sister school agreement in 1980 and began a student exchange program in 1981. Since 1985, current-students of Chinese program at Reitaku university has been enrolling into The University for Chinese-studies via the exchange program. The exchange program continued for more than 30 years to date.</span></p>

<p><span style="font-size:14px">1.2 Completion of the Raitaku International Dormitory in February 1989 enabled the accommodation as well as a cultural exchange between students of Reitaku University, foreign students, and students of the Department together. &nbsp;This formed a "cradle of internalisation" with the University.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>2) The Junior-year Study Abroad Program</strong></span></p>

<p><span style="font-size:14px">&nbsp; &nbsp; &nbsp; &nbsp; With approval from the Ministry of Education, the Department, for the first time, dispatched 15 students to Reitaku University in September 1993. By 1997, 35 students have been dispatched to Reitaku University, Josai University, Josai International University as well as Kyoto Tachibana Women's University (current Kyoto Tachibana University) each year. Nagasaki University of Foreign Studies joined into the list of exchange programs since 2005. The number of participants in the program has been steadily increasing each year and is currently up to 55 students.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>3)&nbsp;Other study-abroad programs</strong><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Besides the exchange program mentioned above, the Department also provides the study abroad options to Waseda University, Aoyama Gakuin University, Asia University, Tsuda College, Chuo Gakuin University, and Komazawa University.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>4) Special Lecture Courses</strong></span></p>

<p><span style="font-size:14px">&nbsp; &nbsp; &nbsp; &nbsp; Each year, the Department collaborates with corporations and invites domestic and international specialists to give lectures to provide students with opportunities to deepen their understandings of Japanese literature, language, culture and socio-economic situations.&nbsp;</span></p>