<p><span style="font-size:20px"><span style="color:#ff0000"><strong>Facilities</strong></span></span>
</p>

<p><span style="color:#ffa07a"><span style="font-size:16px">※Classroom for Conversation / Oral Interpretation Practice (T407, T408 in Chingsheng Building)</span></span>
</p>

<p>The Department has two special rooms for conversation practice as well as oral interpretation training, which are equipped with multimedia facilities;</p>

<p>Special Language-learning zone: it has a TV set with DVD recorder/player functions, which receives satellite broadcast programs;</p>

<p>The Department office also provides some equipment for educational use such as a projector, two laptop computers, a TV set, a receiver/player of satellite broadcast programs, a VHS player, a DVD recorder/player, and 5 CD recorder/players.</p>

<p>&nbsp;</p>

<p><span style="color:#ffa07a"><span style="font-size:16px">※Study Room for Graduate Students (FL Room 322)</span></span>
</p>

<p>The Department has a study room for the use of graduate students.</p>

<p>&nbsp;</p>

<p><span style="color:#ffa07a"><span style="font-size:16px">※Special Japanese-learning Zone (FL Room 105)</span></span>
</p>

<p>Every faculty member stays at the “Special Japanese-learning Zone” for at least one hour per week in order to assist the students in their studies as well as to supervise the fourth year students in writing their graduation thesis.</p>

<p>&nbsp;</p>

<p><span style="color:#ffa07a"><span style="font-size:16px">※Classroom for Japanese Culture</span></span>
</p>

<p>The Department has a special classroom for studying Japanese cultures, which is offered to the students for the following activities or instruction:</p>

<p>(1) &nbsp; “the tea-ceremony”;</p>

<p>(2) &nbsp; “the traditional Japanese dance”;</p>

<p>(3) &nbsp; assistance to students for their study;</p>

<p>(4) &nbsp; the study of the Japanese society, culture, and so on (with the provision of multi-media facilities such as a TV set, a projector, etc.).</p>

<p>&nbsp;</p>

<p><span style="color:#ffa07a"><span style="font-size:16px">※The Basement of Foreign Languages and Literatures Building:</span></span>
</p>

<p>The basement of Foreign Languages and Literatures Building is an open space for the students, which is used for the following purposes:</p>

<p>(1) &nbsp; extracurricular activities (i.e. the practice of the traditional Japanese dance “Awa-odori” and other classical Japanese dances);</p>

<p>(2) &nbsp; “Karaoke Competition”;</p>

<p>(3) &nbsp; “Japanese Speech Contest”;</p>

<p>(4) &nbsp; inter-language and inter-cultural interactions between local students of the Department and Japanese students studying at TKU;</p>

<p>(5) &nbsp; study room for strengthening the Japanese ability of students.</p>

<p>&nbsp;</p>

<p><span style="color:#ffa07a"><span style="font-size:16px">※Classroom designed for oral interpretation training (Room T508 of Chingsheng Building):</span></span>
</p>

<p>This is a special classroom of the College of Foreign Languages and Literatures, which is designed for the training of oral interpretation including simultaneous interpretation.</p>