<p><strong><span style="font-size:18px"><span style="color:#ff0000">The number of classes in the Department of Japanese for the academic year of 100</span></span></strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="line-height:normal">
	<tbody>
		<tr>
			<td style="width:130px">
			<p>Course type/classes</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

			<p>Total</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Daytime classes</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;1<sup>st</sup>year A</p>
			</td>
			<td style="width:94px">
			<p>2nd year A</p>
			</td>
			<td style="width:94px">
			<p>3<sup>rd</sup>&nbsp;year A</p>
			</td>
			<td style="width:94px">
			<p>4<sup>th</sup>&nbsp;year A</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>&nbsp;</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;1<sup>st</sup>year B</p>
			</td>
			<td style="width:94px">
			<p>2<sup>nd</sup>&nbsp;year B</p>
			</td>
			<td style="width:94px">
			<p>3<sup>rd</sup>&nbsp;year B</p>
			</td>
			<td style="width:94px">
			<p>4<sup>th</sup>&nbsp;year B</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>&nbsp;</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;1<sup>st</sup>year C</p>
			</td>
			<td style="width:94px">
			<p>2<sup>nd</sup>&nbsp;year C</p>
			</td>
			<td style="width:94px">
			<p>3<sup>rd</sup>&nbsp;year C</p>
			</td>
			<td style="width:94px">
			<p>4<sup>th</sup>&nbsp;year C</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Subtotal</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>12 classes</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Evening classes</p>
			</td>
			<td style="width:59px">
			<p>1<sup>st</sup>year</p>
			</td>
			<td style="width:94px">
			<p>2<sup>nd</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>3<sup>rd</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>4<sup>th</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Subtotal</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>4 classes</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Master&rsquo;s program</p>
			</td>
			<td style="width:59px">
			<p>1<sup>st</sup>year</p>
			</td>
			<td style="width:94px">
			<p>2<sup>nd</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>3<sup>rd</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>4<sup>th</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Subtotal</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>4 classes</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Professional Master&rsquo;s Program</p>
			</td>
			<td style="width:59px">
			<p>1<sup>st</sup>year</p>
			</td>
			<td style="width:94px">
			<p>2<sup>nd</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>3<sup>rd</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>4<sup>th</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Subtotal</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>4 classes</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Short-term Professional Master&rsquo;s Program</p>
			</td>
			<td style="width:59px">
			<p>3<sup>rd</sup>year</p>
			</td>
			<td style="width:94px">
			<p>4<sup>th</sup>&nbsp;year</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Subtotal</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>2 classes</p>
			</td>
		</tr>
		<tr>
			<td style="width:130px">
			<p>Total</p>
			</td>
			<td style="width:59px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>&nbsp;</p>
			</td>
			<td style="width:94px">
			<p>26 classes</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><strong><span style="font-size:18px"><span style="color:#ff0000">One-year Study Abroad with Partner Universities in Japan &ndash; 2006-2014 academic years:</span></span></strong></p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="line-height:normal; width:491px">
	<tbody>
		<tr>
			<td style="height:105px; width:63px">
			<p>school</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>

			<p>year</p>
			</td>
			<td style="height:105px; width:69px">
			<p>Reitaku University</p>
			</td>
			<td style="height:105px; width:69px">
			<p>Josai University</p>
			</td>
			<td style="height:105px; width:80px">
			<p>Josai International University</p>
			</td>
			<td style="height:105px; width:68px">
			<p>Kyoto Tachibana University</p>

			<p>&nbsp;</p>
			</td>
			<td style="height:105px; width:68px">
			<p>Nagasaki University of Foreign Studies</p>
			</td>
			<td style="height:105px; width:84px">
			<p>Heisei International University</p>
			</td>
			<td style="height:105px; width:66px">
			<p>Doshisha University</p>

			<p>&nbsp;</p>
			</td>
			<td style="height:105px; width:47px">
			<p>Total</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2006</p>
			</td>
			<td style="width:69px">
			<p>30</p>
			</td>
			<td style="width:69px">
			<p>5</p>
			</td>
			<td style="width:80px">
			<p>5</p>
			</td>
			<td style="width:68px">
			<p>10</p>
			</td>
			<td style="width:68px">
			<p>5</p>
			</td>
			<td style="width:84px">
			<p>&nbsp;</p>
			</td>
			<td style="width:66px">
			<p>&nbsp;</p>
			</td>
			<td style="width:47px">
			<p>55</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2007</p>
			</td>
			<td style="width:69px">
			<p>30</p>
			</td>
			<td style="width:69px">
			<p>5</p>
			</td>
			<td style="width:80px">
			<p>5</p>
			</td>
			<td style="width:68px">
			<p>13</p>
			</td>
			<td style="width:68px">
			<p>5</p>
			</td>
			<td style="width:84px">
			<p>10</p>
			</td>
			<td style="width:66px">
			<p>&nbsp;</p>
			</td>
			<td style="width:47px">
			<p>68</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2008</p>
			</td>
			<td style="width:69px">
			<p>39</p>
			</td>
			<td style="width:69px">
			<p>5</p>
			</td>
			<td style="width:80px">
			<p>5</p>
			</td>
			<td style="width:68px">
			<p>13</p>
			</td>
			<td style="width:68px">
			<p>5</p>
			</td>
			<td style="width:84px">
			<p>10</p>
			</td>
			<td style="width:66px">
			<p>&nbsp;</p>
			</td>
			<td style="width:47px">
			<p>68</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2009</p>
			</td>
			<td style="width:69px">
			<p>30</p>
			</td>
			<td style="width:69px">
			<p>5</p>
			</td>
			<td style="width:80px">
			<p>5</p>
			</td>
			<td style="width:68px">
			<p>15</p>
			</td>
			<td style="width:68px">
			<p>5</p>
			</td>
			<td style="width:84px">
			<p>10</p>
			</td>
			<td style="width:66px">
			<p>5</p>
			</td>
			<td style="width:47px">
			<p>75</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2010</p>
			</td>
			<td style="width:69px">
			<p>30</p>
			</td>
			<td style="width:69px">
			<p>5</p>
			</td>
			<td style="width:80px">
			<p>5</p>
			</td>
			<td style="width:68px">
			<p>15</p>
			</td>
			<td style="width:68px">
			<p>5</p>
			</td>
			<td style="width:84px">
			<p>10</p>
			</td>
			<td style="width:66px">
			<p>15</p>
			</td>
			<td style="width:47px">
			<p>85</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2011</p>
			</td>
			<td style="width:69px">
			<p>22</p>
			</td>
			<td style="width:69px">
			<p>0</p>
			</td>
			<td style="width:80px">
			<p>1</p>
			</td>
			<td style="width:68px">
			<p>9</p>
			</td>
			<td style="width:68px">
			<p>5</p>
			</td>
			<td style="width:84px">
			<p>7</p>
			</td>
			<td style="width:66px">
			<p>15</p>
			</td>
			<td style="width:47px">
			<p>48</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2012</p>
			</td>
			<td style="width:69px">
			<p>32</p>
			</td>
			<td style="width:69px">
			<p>0</p>
			</td>
			<td style="width:80px">
			<p>1</p>
			</td>
			<td style="width:68px">
			<p>12</p>
			</td>
			<td style="width:68px">
			<p>0</p>
			</td>
			<td style="width:84px">
			<p>0</p>
			</td>
			<td style="width:66px">
			<p>10</p>
			</td>
			<td style="width:47px">
			<p>44</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2013</p>
			</td>
			<td style="width:69px">
			<p>10</p>
			</td>
			<td style="width:69px">
			<p>0</p>
			</td>
			<td style="width:80px">
			<p>4</p>
			</td>
			<td style="width:68px">
			<p>15</p>
			</td>
			<td style="width:68px">
			<p>0</p>
			</td>
			<td style="width:84px">
			<p>6</p>
			</td>
			<td style="width:66px">
			<p>15</p>
			</td>
			<td style="width:47px">
			<p>50</p>
			</td>
		</tr>
		<tr>
			<td style="width:63px">
			<p>2014</p>
			</td>
			<td style="width:69px">
			<p>21</p>
			</td>
			<td style="width:69px">
			<p>0</p>
			</td>
			<td style="width:80px">
			<p>2</p>
			</td>
			<td style="width:68px">
			<p>15</p>
			</td>
			<td style="width:68px">
			<p>0</p>
			</td>
			<td style="width:84px">
			<p>0</p>
			</td>
			<td style="width:66px">
			<p>13</p>
			</td>
			<td style="width:47px">
			<p>51</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>