description = "學校地圖"
==
<h2 class="index_title right_title">
    <!--<span class="title_tw">校區位置</span>-->
    <span class="title_tw">Map Location</span>
    <!--<span class="title_en">Map Location</span>-->
    <a href="#" class="more"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
</h2>
<div class="area_layout right_side">
    <div class="map_location">
        <img src='{{"assets/#{style}/images/location_01.png" |theme}}' alt="location_img">
        <p class="tab_more"><a href="#"><img src='{{"assets/#{style}/images/arrow_right.png" |theme}}' class="animated" alt="arrow_right">TKU - CFLL Building</a></p>
        <p>No.151, Yingzhuan Rd., Tamsui Dist., New Taipei City 25137, Taiwan (R.O.C.)</p>
        <p>TEL：(02)  2622 - 4593  Miss Lee</p>
        <p>FAX：(02)  2623 - 2924</p>
        <p class="tab_more"><a href="#"><img src='{{"assets/#{style}/images/arrow_right.png" |theme}}' class="animated" alt="arrow_right">Navigation</a></p>
        <div class="map_layout">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.880075859478!2d121.44582292164823!3d25.173526878556057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aff88cdfea69%3A0x40adc63d62b9e736!2zMjUx5paw5YyX5biC5reh5rC05Y2A6Iux5bCI6LevMTUx6Jmf!5e0!3m2!1szh-TW!2stw!4v1509373639631" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>