description = "新聞內容"
==
{% for news in newsList %}
<div class="row">
    <div class="col-sm-8 col-lg-9 post_title">
        <a href="{{news.menu.linkHref~'/'~news.id}}">{{news.title}}</a>
    </div>
    <div class="col-sm-4 col-lg-3 post_note clearfix"><span>{{news.start_date|date('Y-m-d')}}</span><span>{{news.menu.title}}</span></div>
</div>
{% endfor %}
<p class="tab_more"><a href="{{select_menu.linkHref}}"  title="{{more ~ select_menu.title}}" ><img src="{{'assets/images/arrow_right.png'|theme}}" class="animated" alt="arrow_right">{{more ~ select_menu.title}}</a></p>