description = "學院標頭幻燈"
==
<div class="owl-carousel owl-theme" id="index_slider">
    {% for slider in sliders%}
    <div class="item">
        <img src='{{slider.path}}' alt="{{slider.title}}">
        <div class="slider_title">
            <h3>{{slider.title}}</h3>
            <p>{{slider.description}}</p>
            <a href="{{slider.picture_url}}" class="slider_more">More Details</a>
        </div>
    </div>
    {% endfor %}
</div>