==
{% partial 'footer' %}

<script src='{{ [
    "assets/js/jquery-2.1.4.min.js",
    "assets/js/bootstrap.min.js",
    "assets/plugins/owl.carousel/owl.carousel.min.js",
    "assets/plugins/owl.carousel/owl.carousel.thumbs.js",
    "assets/js/jquery.mCustomScrollbar.min.js",
    "assets/js/imagesloaded.pkgd.min.js",        
    "assets/js/modernizr.js"
]|theme }}'></script>
<script type="text/javascript" src='{{"assets/plugins/html5lightbox/html5lightbox.js"|theme}}'></script>
<script type="text/javascript" src='{{"assets/js/masonry.pkgd.js"|theme}}'></script>
<script type="text/javascript" src='{{"assets/js/department.js"|theme}}'></script>
<script type="text/javascript" src='{{"assets/#{style}/js/main.js?v=3"|theme}}'></script>

{% framework %}
{% scripts %}