.header_middle {
    background-image: url(../images/header_bg.jpg);
}

.top_bar {
    background-color: #fff;
}
.top_contact {
    color: #262626;
}
.yellow_line {
    background-color: #dd0000;
}
#s {
    border: none;
}
.search_btn {
    border-color: #fff;
}