description = "共同版權說明"
==
<div class="container">
    <p>Copyright©2017 {{site.title}} All Rights Reserved. Monitor resolution : best for 1280*720 Chrome / FF / IE10 or adove.<br>Please see <a href="#">Terms of use</a>.</p>
    <a href="#" class="totop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</div>