<p style="margin-left:-0.1pt;">外語學院於民國81年8月自文學院分立，以培育學生外語能力，帶動全校邁向國際化為職志。由原隸屬於文學院的英國語文學系(後更名為英文學系)、西班牙語文學系、法國語文學系、德國語文學系、日本語文學系及原隸屬研究學院的西洋語文研究所共同組成。民國82年增設俄國語文學系，形成以英西法德日俄六語系為基底的學院。</p>

<p style="margin-left:-0.1pt;">本院的使命為培養語言、文學及文化研究的專才，期許為全球化時代全人教育的入門和深度國際化的起跑點。注重一人多語與全球視野，三化學習和創新思考，以及文學研究與文化溝通三項價值，遵循並實踐五大策略:實施外語能力檢測、提升大三出國質量、加強特殊目的教學、推動e化學習環境，以及培育語言聽說讀寫譯五技能力。</p>

<p style="margin-left:-0.1pt;">大學部首重語文教學，一、二年級強調基礎語文訓練，加強學生聽、說、讀、寫能力，三、四年級則有文化、文學、翻譯、商務貿易等課程，以培養從事翻譯、貿易、外交、文化研究等全方位外語人才為目標。碩士班方面，除西洋語文研究所(後更改為英文系碩士班和英文系博士班)，民國91年成立法文系碩士班，92年西語系碩士班和日文系碩士班，日文系亦分別成立進學班和二年制在職專班，民國100年成立碩士在職專班。惟因少子女化和總量管制關係，西語系碩士班和日文系碩士在職專班分別於民國108年和民國110年停招。</p>

<p style="margin-left:-0.1pt;">本院六系大學部之招生，英文系和日文系各招收三班(150人和160人)，西語系和法文系各兩班(120人)，德文系和俄文系各一班(60人)。英文系和日文系各招收一班進修學士班。本院近三年大學日間部的平均註冊率為106年97.25%，107年96.81%，108年96.67%，109年98.55%，皆在校平均註冊率以上。</p>

<p style="margin-left:-0.1pt;">為培養學生的跨領域專長，本院除與國際學院合作，開授與國際政經研究相關的院共同選修課程外，並成立跨領域學分學程，供同學選修:外語翻譯學分學程、外國文學學分學程(108學年終止)、外文外交學分學程，民國108年成立雙外語經貿人才學分學程，民國109年開始實施外語航太學分學程。除法文系與企管系合作開設法語企管學分學程外，其他五系皆與國際企業系合作開設跨領域的學分學程。</p>

<p style="margin-left:-0.1pt;">本院與新北市淡海國際教育園區攜手進行國際交流與學校國際化合作，民國106年德日俄三系赴淡水國小介紹三國的聖誕節文化與習俗，12月淡水、正德、竹圍等國中及淡江高中師生至本院參加德日俄文化活動體驗營；民國107年結合淡水地區8個高中舉辦德俄文化營。民國108年六系分別舉辦語言暨文化營，共有約180位高中生參加。民國109年法德兩系和俄文系邀請大同高中師生參加語言文化營。外語大樓一樓的六系文化教室陸續整建完成後，成為各高中來訪的指定參訪地點。</p>

<p style="margin-left:-0.1pt;">配合本校創辦人捐贈新台幣三億所成立的熊貓講座計畫，民國108年法文系率先邀請加拿大魁北克大學名譽教授Daniel Drache博士蒞校，分享一帶一路的研究心得。民國109年邀請法國社會科學院傅敏雅助理教授，但因新冠肺炎疫情影響，不得不取消該項邀請。109年德文系邀請德國柏林自由大學Eberhard Sandschneider教授擔任熊貓講座貴賓。</p>

<p style="margin-left:-0.1pt;">為鼓勵老師進行學術研究，並投稿期刊發表，本院於民國87年發行學術期刊「淡江外語論叢」，原本每年出刊一期，現改為每年出刊兩期，迄今已出刊至第32期(民國109年6月)。民國105年配合本校66週年校慶，在陳小雀院長主持下，出版《話說淡江》中文及英、西、法、德、日、俄六外語版本。民國106年與陳澄波基金會共同出版中文和六種外語的《話說陳澄波與淡水》，以外語宣傳和推廣在地文化。</p>

<p style="margin-left:-0.1pt;">本院的高度國際化表現在與國際知名大學交流互動，以及實施大三出國等兩個面向上。與國際知名大學的交流互動可分為院和系層級。</p>

<p style="margin-left:-0.1pt;">本院自民國84年參與「第一屆兩岸外語教學研討會」以來，迄今持續與大陸各大學進行學術交流。尤其是近10年與北京大學外國語學院的交流更為頻繁，每年分別在台北淡水校園或大陸的大學舉辦「海峽兩岸外國語文學論壇」。最近四年分別在淡江大學(2016)、廈門大學(2017)、淡江大學(2018)和廣州中山大學(2019)，廣邀大陸學者與本院教師齊聚一堂，發表論文，切磋學術專業。2020年原本應輪由淡江大學舉辦，但因受新冠肺炎疫情影響而暫緩停辦。</p>

<p style="margin-left:-0.1pt;">與日本的大學的交流亦是本院國際化的重點之一。民國106年4月在陳小雀院長率領下，本院6系共有16位教師赴日本同志社大學，共同舉辦學術研討會。民國107年同志社大學文化情報部部長山內信幸率領該學部師生共25人，赴淡水校園參加外語教育與在地文化學術論壇。山內信幸教授且受邀在守謙國際會議中心，進行外語學院大師演講。民國108年吳萬寶院長與英西法德日等五位教師，赴同志社大學參加新學術交流論壇。民國109年同志社大學原本規劃到淡江大學訪問，因受新冠肺炎疫情影響而無法來台。</p>

<p style="margin-left:-0.1pt;">本院各系皆與本校相關語系姊妹校，經本校國際交流處甄選後互派交換生，或共同舉辦學術研討會，如民國105年舉辦「當莎士比亞遇見塞萬提斯」系列活動、「淡江大學---北京大學 兩岸外國語言文學學術研討會」、107年第14屆西班牙語教學、文化與翻譯研討會、村上春樹國際研討會、德語文學中的亞洲國際學術研討會、俄語語言和文學國際研討會、台日蒙韓國際研討會，民國108年AI與日語教育國際學術研討會。</p>

<p style="margin-left:-0.1pt;">本院日文係於民國82年率先選派大三學生，赴日本麗澤大學進修一學期，開啟國內異地學習之風氣。翌年，英西法德日等五系正式實施大三出國計畫，民國84年俄文系亦加入大三出國計畫，本院六系乃成為本校國際化的推手。自實施大三出國計畫以來，總共有3,500位以上同學曾於本校國際姊妹校研讀一年。以下為近13年來參與大三出國計畫的學生數:</p>

<p style="margin-left:-0.1pt;">&nbsp;</p>

<table align="center" border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:55px;">

				<p style="text-align: center;">學年度</p>
			</td>
			<td style="width:38px;">

				<p style="text-align: center;">96</p>
			</td>
			<td style="width:38px;">

				<p style="text-align: center;">97</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">98</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">99</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">100</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">101</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">102</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">103</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">104</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">105</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">106</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">107</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">108</p>
			</td>
		</tr>
		<tr>
			<td style="width:55px;">

				<p style="text-align: center;">人數</p>
			</td>
			<td style="width:38px;">

				<p style="text-align: center;">148</p>
			</td>
			<td style="width:38px;">

				<p style="text-align: center;">154</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">167</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">175</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">129</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">154</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">138</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">171</p>
			</td>
			<td style="width:43px;">

				<p style="text-align: center;">171</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">157</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">159</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">153</p>
			</td>
			<td style="width:37px;">

				<p style="text-align: center;">130</p>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear: both;">&nbsp;</div>

<p>本院各系歷年皆舉辦與該語系相關的節慶活動，民國107年整合六系的節慶活動，推出外語好多節，計有英文系感恩節、西語系吞葡萄跨年祈願、法文系薄酒萊新酒節、德文系啤酒節與聖誕節，日文系白色情人節，以及俄文系謝肉節。外語學院堪稱是一個「外語好多節」的國際化學院，節慶活動本身承載著各國傳統文化的內涵，透過活動的舉辦和參與，達到跨文化溝通與認識異國文化的教育功能。</p>

<p>&nbsp;&nbsp;&nbsp; 民國107年外語學院首次報名參加第12屆淡江品質獎，經校內外評審審查和實地訪視後，獲淡江品質績優獎和獎金5萬元。民國109年本院日文系獲第八屆系所發展獎勵殊榮，獲頒獎座與獎金15萬元。</p>

<p>&nbsp;&nbsp;&nbsp; 民國109年，外語學院六系共有104位專任教師，7位助教，14位行政助理，兼任教師160位，大學部學生(含進修部)共3,702人(含境外生278人)，碩博班研究生有155人。本院專任教師中有96位獲得博士學位(92.3%)，碩士學位有8人(7.7%)。外籍教師有26位，每四位教師中即有一位為外籍教師。</p>

<p>外語學院歷任院長如下:</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:395px;">
	<tbody>
		<tr>
			<td style="height:26px; width:155px;">

				<p style="margin-left: 2.5pt; text-align: center;">陳元音教授</p>
			</td>
			<td style="height:26px; width:161px;">

				<p style="margin-left:22.8pt;">81.8∼82.7</p>
			</td>
		</tr>
		<tr>
			<td style="height:26px; width:155px;">

				<p style="margin-left: 2.5pt; text-align: center;">鍾英彥教授</p>
			</td>
			<td style="height:26px; width:161px;">

				<p style="margin-left:22.8pt;">82.8∼86.7</p>
			</td>
		</tr>
		<tr>
			<td style="height:26px; width:155px;">

				<p style="margin-left: 2.5pt; text-align: center;">林森鈴教授</p>
			</td>
			<td style="height:26px; width:161px;">

				<p style="margin-left:22.8pt;">86.8∼88.7</p>
			</td>
		</tr>
		<tr>
			<td style="height:22px; width:155px;">

				<p style="margin-left: 2.5pt; text-align: center;">林耀福教授</p>

				<p style="margin-left: 2.5pt; text-align: center;">宋美璍教授</p>

				<p style="margin-left: 2.5pt; text-align: center;">吳錫德教授</p>

				<p style="margin-left: 2.5pt; text-align: center;">陳小雀教授</p>

				<p style="margin-left: 2.5pt; text-align: center;">吳萬寶教授</p>
			</td>
			<td style="height:22px; width:161px;">

				<p style="margin-left:22.8pt;">88.8∼92.7&nbsp;</p>

				<p style="margin-left:22.8pt;">92.8~100.07</p>

				<p style="margin-left:22.8pt;">100.8~104.7</p>

				<p style="margin-left:22.8pt;">104.8~107.7</p>

				<p style="margin-left:22.8pt;">107.8~</p>
			</td>
		</tr>
	</tbody>
</table>