description = "下拉選單"
==
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{homeMenu.linkHref}}"></a>
        </div>
        {% partial 'dropdown_menu' menus = homeMenu.children.where('enabled',1).take(9).all  %}
    </div>
</nav>