description = "學院標頭幻燈"
==
<div class="owl-carousel owl-theme" id="index_slider">
    {% for slider in sliders%}
    <div class="item">
        <img src='{{slider.path}}' alt="{{slider.title}}">
        <div class="slider_title">
            <h3>{{slider.title}}</h3>
            {{slider.description}}
            <a href="{{slider.picture_url}}" class="slider_more">More..</a>
            {% if loop.length>1 %}
            <div class="banner_owl_nav">
                <div class="banner_owl_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="banner_owl_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>