==
<div class="footer_contact">
    <p><span>聯絡電話：(02)2622 - 4593</span>　<span>傳真號碼：(02)2623 - 2924</span></p>
    <p>電郵信箱：tf@oa.tku.edu.tw</p>
    <p style="position: relative;"><span style="position:absolute; top: 0; left: 0;">學院地址：</span><span style="padding-left: 5em;">25137新北市淡水區英專路151號外語大樓FL410室</span></p>
    <p>網頁維護：<a href="#">葉思德</a></p>
    <p><a href="#">個資政策</a> | <a href="#">隱私權政策</a> | <a href="#">個人資料告知聲明</a></p>
</div>