description = "版權說明"
==
{% partial 'footer' %}

<script src='{{ [
    "assets/js/jquery-2.1.4.min.js",
    "assets/js/bootstrap.min.js",
    "assets/plugins/owl.carousel/owl.carousel.min.js",
    "assets/plugins/owl.carousel/owl.carousel.thumbs.js",
    "assets/js/jquery.mCustomScrollbar.min.js",
    "assets/js/imagesloaded.pkgd.min.js",        
    "assets/js/modernizr.js"
]|theme }}'></script>

<script type="text/javascript" src='{{"assets/js/jquery.flexslider.js"|theme}}'></script>
<script type="text/javascript" src='{{"assets/plugins/html5lightbox/html5lightbox.js"|theme}}'></script>
<script type="text/javascript" src='{{"assets/js/masonry.pkgd.js"|theme}}'></script>
<!-- <script type="text/javascript" src='{{"assets/js/lazyload.js"|theme}}'></script> -->
<script type="text/javascript" src='{{"assets/js/language.js"|theme}}'></script>
<script type="text/javascript" src='{{"assets/#{style}/js/main.js?v=3"|theme}}'></script>

<script>
    $('#index_slider').owlCarousel({
        items: 1,
        loop: true,
        margin: 0,
        nav: true,
        navText: ["<img src='{{ "assets/images/slider_nav_pre.jpg"|theme }}' alt='nav_pre'>","<img src='{{ "assets/images/slider_nav_next.jpg"|theme }}' alt='nav_next'>"],
        dots: true,
        smartSpeed: 600,
        autoplay: true,
        autoplayTimeout: 10000,
        autoplayHoverPause: true,
        thumbs: false,
        //lazyLoad: true
    });
</script>

{% framework %}
{% scripts %}