description = "學院新聞清單"
==
<?php
function onStart() {
    $size = $this['size'] ?:4;
    
    //$this['newsmenu'] = $this['homeMenu']->children()->where("component_id",25)->first();
    if($this['newsmenu'])
        $this['subnewsmenu'] = $this['newsmenu']->children()->where("component_id",25)->take($size)->get();
    else
        $this['subnewsmenu'] = array();
}
?>
==
<h2 class="index_title">
    <span class="title_tw">最新消息</span>
    <span class="title_en">Latest News</span>
    <a href="#" class="more"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
</h2>
<div class="area_layout eqh-3" style="height: 424px;">
    {% if newsmenu %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#news{{newsmenu.id}}" data-toggle="tab" aria-expanded="true">{{newsmenu.title}}</a>
            <img src="{{'assets/images/arrow_down.png'|theme}}" class="arrow_down" alt="arrow_down">
        </li>
        {% for menu in subnewsmenu %}
        <li>
            <a href="#news{{menu.id}}" data-toggle="tab" aria-expanded="false">{{menu.title}}</a>
            <img src="{{'assets/images/arrow_down.png'|theme}}" class="arrow_down" alt="arrow_down">
        </li>   
        {% endfor %}
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="news{{newsmenu.id}}">
            {% partial layout_folder ~ '/news_detail' select_menu=newsmenu size=5 %}
        </div>
        {% for menu in subnewsmenu %}
            <div class="tab-pane fade" id="news{{menu.id}}">
            {% partial layout_folder ~ '/news_detail' select_menu=menu size=5 %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>