==
<?php
use Morelink\Web\Models\WebAlbum;
use Morelink\Web\Models\SiteMenu;
use Carbon\Carbon;
function onStart() {
    //$ids = SiteMenu::find(91)->getChildren()->lists("id");
    $ids= array(92);
    $twoYearsAgo = Carbon::createFromDate(2015, 8, 1);
    $albums = WebAlbum::where('taken_at','>',$twoYearsAgo)->whereIn("menu_id",$ids)->get()->shuffle();
    $this['albums'] = $albums->take(6);
}
?>
==
<div class="container">
    <h3 class="snap_slider_title">繽紛四季<span class="snap_title_en">snap | Campus</span></h3>
    <div class="snap_slider">
        <div class="owl-carousel owl-theme">
            {% for album in albums %}
            <div class="item">
                <div class="owl_img_block">
                    <a href="{{album.menu.linkHref ~ '/' ~album.id}}" target="_self" title="{{album.name}}">
                        <span class="owl_img">
                            <img class="owl-lazy" data-src='{{album.photos.shuffle.first.path}}' alt="{{album.name}}">
                            <span class="owl_overlay"></span>
                        </span>
                        <span class="owl_text">{{album.name}}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>