description = "特色主題"
==
<h3 class="menu_slider_title">瀏覽特色主題</h3>
<div class="owl-carousel owl-theme">
    {% for link in links %}
    <div class="item">
        <div class="owl_img_block">
            <a href="{{link.url}}" target="{{link.link_target|default('_self')}}" title="{{link.title}}">
                <span class="owl_img">
                    <img class="owl-lazy" data-src='{{link.picture | media| resize(500) }}'  alt="slide_img">
                </span>
                <span class="owl_text">{{link.title}}</span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>