description = "學院影音新聞"
==
<h2 class="index_title right_title">
    <span class="title_tw">影音專區</span>
    <span class="title_en">Video Tube</span>
</h2>
<div class="area_layout eqh-3">
    <div class="video_slider">
        <div class="owl-carousel owl-theme">
            {% for link in site.video_links %}
                <div class="item">
                    <div class="owl_img_block">
                        <a href="JavaScript:html5Lightbox.showLightbox(2, 'https://www.youtube.com/embed/{{link.videoId}}&amp;autoplay=1', 'YouTube lightbox');" class="html5lightbox" data-width="1000" data-height="563" title="{{link.title}}">
                            <span class="owl_img">
                                <!-- <img src="//img.youtube.com/vi/{{link.videoId}}/sddefault.jpg" /> -->
                                <div class="img_bg" style="background-image: url('//img.youtube.com/vi/{{link.videoId}}/sddefault.jpg');"></div>
                                <span class="play_bg">
                            		<img src='{{"assets/images/video_play.png" |theme}}' alt="video_play">
                            	</span>
                            </span>
                            <!-- <span class="owl_overlay"></span> -->
                            <span class="owl_text">
                                <span>{{link.title}}</span>
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %} 
         </div>
    </div>
</div>